[2015-03-17 21:57] lornat75 opened #1 "Report of on-site visit of 10/3-14/3 to Heildeberg"
@randaz81  @traversaro

Can you write a brief report about the problems you found, how you solved them and the problems still present?

[2015-03-17 22:02] lornat75 opened #2 "Add configuration files for enabling skin diagnostics"
@barbalberto

I would assign this issue to MarcoM. as soon as he has a github account.

[2015-03-17 22:06] lornat75 opened #3 "Problems on the tactile sensors of the hands"
@alecive, @massimoregoli, @pattacini reported that the tactile sensors on the hand do not always work after startup.

In particular we noticed that if the palm is pressed at startup the fingertip reach saturate to max value and never come back. This suggests a hardware issue.

[2015-03-17 23:47] traversaro commented on #1
For the software part related to codyco/koroibot software, I already posted a detailed report in https://github.com/robotology/codyco-superbuild/issues/61 .

[2015-03-18 00:10] traversaro commented on #1
The main points anyway are:
  * The torso torque control was not ready, so we tried to run the `torqueBalancing` module with just the 12 DOFs of the legs, but apparently there where numerical problems related to using just the legs. Regarding this we are going to test on `iCubGenova01` (as soon as it is fixed : ) ) the 12 dofs balancing to try to understand if we can easily fix it.

[2015-03-18 00:11] traversaro commented on #1
cc @hu-yue

[2015-03-18 09:50] lornat75 commented on #2
cc @maggia80

[2015-03-18 12:43] hu-yue commented on #1
For the other problems that we encountered I would wait @randaz81.

But I would like to report errors due to the skin.
Actually when you were here you used the robotInterface with disabled skin.
I included them now and get tons of errors and warnings and robotInterface gets stucked in the errors on embObjSkin.
You can download the log from yarplogger here:
https://www.dropbox.com/s/xvbfexw9t2xy407

[2015-03-18 14:05] lornat75 commented on #1
@marcoaccame, @randaz81 ?

[2015-03-18 16:38] marcoaccame commented on #1
best thing to do is that we arrange a teamviewer session in which i can help fixing the problems related to skin.

from what i see from the log, there are the following issues.

1. the detection in embObjSkin of errors in skin can boards attached to EMS 10.
-> In files hardware/skin/xxxx-skinSpec.xml there should be:
-> diagnostic =  false  (and not true as you have)
-> that will remove the prints

[2015-03-18 17:10] barbalberto commented on #2
It seems that some robot has the "enable diagnostic true" by default which is not correct, maybe some typo while generating files for new robots. I'll suggest to production guys to verify that all robots has false until we have the new and correct skinSpecs files.

[2015-03-18 17:24] hu-yue commented on #1
Thanks.
I changed the diagnostic to false and got rid of the error in which robotInterface was stucked.
Now it runs and the skin works, however there are still errors and warnings.
I did not change the firmware.
The new log is here:
https://www.dropbox.com/s/shgdpkhpqnhjghh/ypmrprunlog_18_03_2015_06_16_53.log?dl=0

[2015-03-18 18:28] marcoaccame commented on #1
try to run it by enabling only the skins. i hope that by doing that there are no lost ip packets and that we can have a clearer test condition.

[2015-03-18 22:00] lornat75 commented on #2
we should explain the production how to update the config files and enable diagnostics! @maggia80

On 18/mar/2015, at 18:10, "Alberto Cardellino" <notifications@github.com<mailto:notifications@github.com>> wrote:

It seems that some robot has the "enable diagnostic true" by default which is not correct, maybe some typo while generating files for new robots. I'll suggest to production guys to verif

[2015-03-19 09:07] lornat75 commented on #1
Two suggestions:
- Can the EMS send a 'switch off' to all channels when exiting run mode so it is robust to missed packets?
- We should increase the socket buffer size to avoid packet loss + schedule an upgrade to the pc104 with realtime kernel, it has been tested on our iCub for a long time and I think it can be considered stable

[2015-03-19 09:46] hu-yue commented on #1
I updated the firmware on boards 10 and 11 to ver 1.68 and now basically all the warning and errors are gone.
This is the log of robotInterface launched with skin only:  https://www.dropbox.com/s/61xkaf6cwz9lvet/yamrprunlog_19_03_2015_09_57_24.log?dl=0
This is the log of robotInterface launched with everything including skin: https://www.dropbox.com/s/vikr18kulwp2w7e/yamrprunlog_19_03_2015_10_35_2

[2015-03-19 10:54] marcoaccame commented on #1
OK Hu, I am happy. But I would like to investigate some more. The reason is that fw version 1.68 just does not fill the buffer with skin canframes when skin should not be used. But it may be that the skin can boards on CAN1 are still transmitting, and it should not happen.

By the way, you sent me a wrong log: the first one is with fw ver 1.63. the second is with 1.68 but skin only. what is missin

[2015-03-19 11:04] marcoaccame commented on #1
To Lorenzo:
when I wrote:
-> i believe that the problem is that there are IP packet losses in the channel and the switch off
-> command of skins in CAN1 got lost. but arrived the switch off of CAN2's skin, and the
-> exit from run mode
I was wrong: the skin is not switched off by robotinterface but at exit of run mode.

The behaviour of skin activation / disactivation is the following.
1. embObjSk

[2015-03-19 11:07] hu-yue commented on #1
Sorry, I must have done some mistake in uploading the logs.
Then this is the one with only skin as you said: https://www.dropbox.com/s/vikr18kulwp2w7e/yamrprunlog_19_03_2015_10_35_29.log?dl=0
And this is the log with everything: https://www.dropbox.com/s/kzxq1y1l8oye55p/ypmrprunlog_19_03_2015_12_05_16.log?dl=0

[2015-03-19 18:10] gsaponaro opened #4 "iCub network speed goes down and up"
Last week, during intense usage of our robot for the POETICON++ review, we experienced occasional network slowdowns that turned the robot and the yarp network very difficult to use. For example, while we were running IOL and other vision modules, camera framerate suddenly went down to 2-3 fps, stayed there for a couple of minutes, then automatically resumed to full speed again.

We would like to l

[2015-03-19 22:04] lornat75 commented on #4
Hi Gioanni,
one useful thing to do is to log to the CISCO monitoring interface (using the browser), check the available bandwidth and (although it does not seem the case here) that all ports are working @1Gb.

If the iperf tests are sane in ALL directions and using mcast, udp and tcp I would then check CPU usage on the involved machines. This can affect the framerate.

[2015-03-19 23:12] randaz81 opened #5 "Robot velocities (log request)"
Hi @hu-yue,
we are validating the new torque control law implemented last week on your robot.
As double check, we need a quick log from your robot. Here are the steps:
1) Put all the motors of the robot in idle
2) type the following command: yarp read ... /icub/left_leg/stateExt:o > log_left_leg.txt
3) move (push) the joints randomly. Speed is not important. 30 seconds are ok. Just be sure that al

[2015-03-20 00:10] randaz81 opened #6 "Robot velocities (log request)"
Hi @robertocalandra,
I'm writing you for the same reason of #5, however your robot employs a different kind of motors and encoders respect to iCubHeidelberg01 and we have the need to validate the firmware on all the different platforms before the official release. Can you please perform the same experiment described in #5 and post here the five resulting log files? (two legs, torso and two arms; f

[2015-03-20 09:12] hu-yue commented on #5
Hi, here are the logs:
https://www.dropbox.com/sh/cm5oqcgaliy65av/AABby84149TlvWseLDcVhye7a?dl=0
Let me know if there are any problems.

[2015-03-20 12:51] robertocalandra commented on #4
Hi all,
On a related topic, we had problems streaming from the eyes (at 640x480) and at the same time using direct position control.
The network seems to get saturated and the stream from the eyes decrease to about 13fps.
Is there any way-around?

[2015-03-23 10:51] randaz81 commented on #1
Heildelberg visit activity report:

HW:
1- The new fw build performs checks to verify the quality of the encoder measurements. After the update it was possible to detect a large number of errors due to electromagnetic interferences (EMI) These errors were initially affecting only the ankle joints. After an attempt to insulate the AEA chip from its metal support, these errors disappeared from the a

[2015-03-23 15:35] lornat75 commented on #1
@maggia80, @giorgiometta @ale-git @iron76

[2015-03-23 15:59] lornat75 commented on #1
@randaz81, @ale-git, @traversaro: the material in this report should go in a wiki page of the manual.

[2015-03-23 16:10] randaz81 commented on #5
thank you, logs are perfect.

[2015-03-23 16:10] #5 closed

[2015-03-23 20:36] traversaro commented on #1
:+1: , as soon as these changes are "deployed" we can review the Force Control page.

[2015-03-29 22:27] traversaro opened #7 "[iCubParis01] head calibration not working"
Originally reported in icub-main repository as https://github.com/robotology/icub-main/issues/111 .

[2015-03-30 09:32] marcoaccame opened #8 "OS to run real-time Linux on PC104"
From SW meeting of 26/03/15:
We need to upgrade the PC104 OS to run real-time Linux (robots Darmstadt, Shaffield, Heidelberg).

If I remember well, issues are:

1. verify if the version of the USB live key is the right one supporting real-time. Alberto, and Matteo: can you please help me in that?

2. verify that the required system network settings are correct. I remember there was a redmine issue

[2015-03-30 09:55] mbrunettini commented on #8
@marcoaccame
@barbalberto

1)      Real Time kernel is supperted from Icub-live version 5  http://wiki.icub.org/wiki/The_Linux_on_the_pc104

2)      The network setting have been imported into the latest icub image versions

Matteo

From: marcoaccame [mailto:notifications@github.com]
Sent: lunedì 30 marzo 2015 11:32
To: robotology/icub-support
Cc: Matteo Brunettini
Subject: [icub-support] OS to ru

[2015-03-30 11:14] mbrunettini commented on #8
In details, network settings in the icub-live v5 are (see http://wiki.icub.org/wiki/ICub_PC104_Linux_Image_-_Detailed_info#Other_improvements ) :
  The following files are modified in order to obtain better real time netowrking performaces
  /etc/security/limits.d/icub.conf
    icub	soft	rtprio	99
    icub	hard	rtprio	99
  /etc/sysctl.d/20-net-rbuffer.conf
    # This sets the max OS receive buffer

[2015-03-30 11:37] marcoaccame commented on #8
Thank you Matteo, the system settings are OK with what we have used in following task of redmine (https://redmine.icub.iit.local/issues/87).

[2015-03-30 12:05] barbalberto commented on #8
I did a quick check for older version of usb key images.
The version 3.2 is the one with the dual boot, normal kernel and rt one. It is quite old as a key (kernel 2.6.33) and probably is the one that was giving issues with the firewire streaming, so I'd suggest to not use it.
The image 4.0 has only normal kernel, probably because previous rt version was not satisfying.

If I understand correctly t

[2015-03-30 12:07] mbrunettini commented on #8
Icub-live V5 has only the RT  kernel.

From: Alberto Cardellino [mailto:notifications@github.com]
Sent: lunedì 30 marzo 2015 14:05
To: robotology/icub-support
Cc: Matteo Brunettini
Subject: Re: [icub-support] OS to run real-time Linux on PC104 (#8)

I did a quick check for older version of usb key images.
The version 3.2 is the one with the dual boot, normal kernel and rt one. It is quite old as a

[2015-03-30 13:15] marcoaccame commented on #8
from Ali:
icub-main must be compiled with ICUB_REALTIME_EXPERIMENTAL set to ON (default is OFF).

[2015-03-30 13:51] apaikan commented on #8
Some comments on what `ICUB_REALTIME_EXPERIMENTAL` does:
* The option affects the PC104 which has been delivered with the Real-time Linux kernel.
* The option (if enabled) will adjust the thread scheduling policies and priorities of the embObjLib and the robotInterface's interfaces/communication threads on the PC104 as shown here:

|         Threads           | Priority  |       Policy       |
| -

[2015-03-30 14:01] marcoaccame commented on #8
Ok, I would suggest that we test the icub-live version 5 key once more on iCubGenova04 with icub-main being compiled with ICUB_REALTIME_EXPERIMENTAL ON.

Then the same on iCubGenova01 and also on iCubSheffield01 which is here in Genova now.

[2015-03-30 14:40] lornat75 commented on #3
@maggia80

[2015-03-30 14:45] lornat75 commented on #4
@gsaponaro any news on this?

[2015-03-30 14:46] lornat75 commented on #4
@robertocalandra, yes please open a new issue.

[2015-03-30 14:54] robertocalandra opened #9 "Network Slowing Down"
Hi all,
we experienced problems streaming from both eyes (at 640x480) and at the same time using direct position control for the arms+torso.
The network seems to get saturated, the stream from the eyes decrease to about 13fps, and the direct position control erratic (obviously).
Do you know what could be the cause of this issue? Is it an hardware bottleneck? Is there any way-around?

[2015-03-30 14:59] lornat75 commented on #9
Are you streaming the images with a) RGB or b) bayer encoding?

Which switch are you using? The netgear shipped with the iCub?

At which frame are you sendng directPosition requestes? Can you post the relevant code?

[2015-03-30 17:42] gsaponaro commented on #4
Just verified again that **iperf** tests are sane. Testing between the pc104 and another machine in the cluster we get the following (both directions):

tcp 900 Mbits/s
udp 800+ Mbits/s
udp with big datagrams 950 Mbits/s
mcast 950 Mbits/s

Cisco swich performance: we asked our network administrator to configure Cacti graphs, hopefully it will be ready soon.

I think in the end it should be a CPU i

[2015-03-31 10:37] lornat75 commented on #4
@gsaponaro: thanks. We can leave this open, please update as soon as you have more info.

For the switch performance: all you need is the ip for the administrative interface and the administrator account. The tool is pretty easy to do, it covers most of the networking debug you need to do.

For the CPU you can use TOP.

[2015-04-01 08:42] marcoaccame commented on #8
errata: iCubGenova01
corrige: iCubGenova02 (the purple one).

About iCubGenova04: the icub-live v5 was not in use yet.
Thus, Matteo and I prepared the system to use it and since the afternoon of 31 march the robot is running the new RT kernel. We haven't seen any problem in camera streaming.

The icub-live v5 was tested in version icub-live_5.0-15.03.30-rt-amd64.iso.gz

Instruction about how to mi

[2015-04-02 09:07] traversaro opened #10 "FTsens sensor send an unexpected message"
Sometimes (I did not understood a correct way to replicate this) the `right_leg` FT sensor of the `iCubGenova03` is giving an error:

[code]

By further inspecting, we discovered that the sensor is receiving an unexpected message:

[code]

The usual `len` of periodic messages from the sensor is 6, and is 7 for overflow messages.

The error is usually not continuous (it is getting an unexpected mes

[2015-04-07 13:09] traversaro opened #11 "[iCubParis02] addresses of feet 6-axis FT sensors"
Hi everyone,
  currently there are some CAN-based iCub's that have 6-axis FT sensors in the ankles:
 * iCubGenova01
 * iCubGenova03
 * iCubParis01

On all this robots, the convention for the feet FT sensors is to have a CAN ID of `0x01`, on the two CAN networks 3 and 4.

However, we recently added the feet FT sensors to `iCubParis02`, but on that robot (v2.0, CAN based) unfortunately the `0x01` CA

[2015-04-07 17:27] iron76 commented on #7
Fixed with commit https://github.com/robotology/icub-main/commit/a1fb0fa2e565a15464583341971506cdcf561bbd

[2015-04-07 17:31] pattacini commented on #7
then closing

[2015-04-07 17:31] #7 closed

[2015-04-08 12:29] iron76 opened #12 "iCubParis02 leg BLL board not working (digital part)"
Dear iCub-support,
the joint0 and joint1 of the iCubParis02 left_leg suddenly stopped working. The behaviour was the following: initial calibration was failing and left_leg exited the calibration with all joints in IDLE mode (this behaviour is normal after failing the calibration). The reason for not concluding the calibration turned out to be some control issue at the very low level. When running

[2015-04-08 13:42] lornat75 commented on #12
@giorgiometta

[2015-04-09 09:49] traversaro opened #13 "Different MOT_speed_estimation and MOT_accel_estimation values in similar robots"
Hi icub-support,
    we are working on the iCubParis02, and we noticed an interesting patterns in the motorControl configuration files.
 **TL;DR :  Interestingly `MOT_speed_estimation` and `MOT_accel_estimation` have a value of 1 for all robots, but on `iCubGenova01` they have a value of 5**.
#### Boring explanation

The `MOT_speed_estimation` and `MOT_accel_estimation` parameters are usually set

[2015-04-09 21:09] pattacini commented on #13
I'm not involved in this respect, but I believe we should standardize those values for `iCubGenova01`.

[2015-04-10 08:06] hu-yue commented on #1
Hi,
Quite some time has passed, I would like to ask if you can tell me how should we address the hardware problems of the robot as per point 1 of the report.
As we discussed about the possibility to send the robot back to IIT, I need to know exactly if and when we have to do this asap, possibly within next week the latest.
Thanks!

[2015-04-13 06:51] randaz81 opened #14 "Report of on-site visit of 7/4-10/4 to Darmstadt"
HW issues:
- [x] Broken data cable in the CAN connector of the torso skin. I repaired the cable. I also found the connector tampered by a previous attempt of fixing it. Two cables were indeed swapped, and this is most likely the reason why I found CAN line 9 burned on the cfw2 board. I moved the torso skin on another free bus (CAN line 8).
- [ ]  Unable to connect to legs skin. Most likely, a shor

[2015-04-13 06:57] randaz81 commented on #6
Addressed in #14.
- Darmstadt01 employ Kollmorgen motors with 1000TPR optical encoders (instead of 900TPR used with Moog motors)
- Regardless the different type of motors, the rotor signs are the same of iCubGenov02 (arms only) and icubHeidelberg01 (torso/legs only), with the exception of torso J0 (inverted respect to Heidelberg01)

[2015-04-13 06:57] #6 closed

[2015-04-13 15:39] lornat75 commented on #14
@maggia80 @giorgiometta

[2015-04-15 08:44] lornat75 opened #15 "unreliable external network connectivity"
@mbrunettini reported problems with external network connectivy. Suspects:

- [ ] broken network board on server
- [x] RJ45 connector on the back of the rack (this happened in the past)

[2015-04-15 09:06] lornat75 commented on #15
@apaikan

[2015-04-15 09:13] mbrunettini commented on #15
Now the rack is connected directly, bypassing the RJ45 on the rack.
This allows to test the network card. Still in testing.

[2015-04-16 13:24] traversaro commented on #8
On the `iCubParis02` the robotInterface saturates the pc104, and this result in a lot of FT sensors dropped. Just to give an idea, the jitter can reach up to 200 milliseconds to a first quick check, on a robot running only the `robotInterface` and no cameras or any external module.

While this behavior should be properly debugged, it could make anyway sense to deploy the new realtime PC104 image e

[2015-04-16 13:51] mbrunettini commented on #15
The network card has been tested and no problems were found.
Replaced RJ connector.
Issue closed.

[2015-04-16 13:51] #15 closed

[2015-04-17 13:01] super-ste commented on #1
Hi YueHe,
we shall get  the robot back here in Genova in order to troubleshoot and solve the reported iCub issue.
Unfortunately I cannot foresee how long it will take to fix it (there can be multiple causes)

When do you think you can ship it back? [iCub Supporters are going to be out in a mission until April 27th, so no hurries on that].

I'd say after one week from receiving we shall be able to

[2015-04-17 13:59] hu-yue commented on #1
Hi,
My idea was to bring it back myself around 30th April/1st May, I will stay for some time in Genova (at least one week for the time being), but if it will take too long (like more than 3 weeks/one month or so) then I will come back to Heidelberg and ask you to ship it instead of bringing it back.
We definitely need it latest by the end of May, but I guess that will depend on the problems you wi

[2015-04-17 14:28] maggia80 commented on #3
I am working on a board that will be mounted on top of the mais. The board will give us the possibility to test each individual fingertip without unsolder anything. This is because we are having a lot of problems with the fingertips in this period and the debug (even with the skin diagnostic enabled) is complicated.

[2015-04-17 15:30] super-ste opened #16 "Jaw Motor Movement problem."
Katrin from Heriott-Watt requests:
we are getting a error from the jaw motor now and it is not moving after it first moved very very slowly.

[2015-04-17 15:33] super-ste commented on #16
Replied that iCub-Support Team is travelling until April 28th and requests logs in hte meanwhile.

[2015-04-17 15:38] super-ste commented on #1
Hi @hu-yue
cool if you can drive it here yourself. We will ship it back once it's fixed. No problem.

Please bring the laptop. We shall be able to power it with our cables/power-supply.

[2015-04-17 17:11] hu-yue commented on #1
Ok @super-ste I will let you know a precise date when I will know.

[2015-04-22 15:13] iron76 commented on #14
@traversaro and @DanielePucci can you please have a look at this list and figure out what we really need to be fixed/improved to try the CoDyCo experiments and Y1/Y2 validation scenarios in Darmstadt?

[2015-04-23 13:30] lornat75 opened #17 "pc104 saturates CPU usage"
@traversaro reported this issue:

on the iCubParis02 the robotInterface saturates the pc104, and this result in a lot of FT sensors dropped. Just to give an idea, the jitter can reach up to 200 milliseconds to a first quick check, on a robot running only the robotInterface and no cameras or any external module.

While this behavior should be properly debugged, it could make anyway sense to deploy

[2015-04-23 13:30] lornat75 commented on #8
@traversaro moving your question to a separate issue #17

[2015-04-23 13:30] lornat75 commented on #17
Quoting @barbalberto on another issue, this may explain

By chance, the feature of ROS topic introduced a bug for the analogWrapper in which the period was initialized to 0, therefore they were running at max speed draining a lot of CPU usage. This was introduced on monday 13/04 and on 21/04.

[2015-04-23 13:33] lornat75 commented on #8
This issue triggered investigation on pc104 usage with ethernet. At the moment we introduced a set of parameters to reduce number of packets sent by the EMS boards and the frequency with which they are received and transmitted by robotinterface.

[2015-04-23 13:55] traversaro commented on #17
It was fixed on 21/04 ? Then it can definitly explain what we saw.
@rlober when you have time you can try to update the yarp on pc104?

[2015-04-23 16:50] hu-yue commented on #1
Hi @super-ste, I confirm that I will bring the robot to IIT on the 30th April (next Thursday), is morning around 8.30-9.00 ok?
I will take with me only the robot and the laptop without the power suppliers and any cables.

[2015-04-23 16:57] super-ste commented on #1
Hi Yu-He
I confirm it’s OKAY.

We’ll work on it and le you know our findings as soon as possible.

From: Yue Hu [mailto:notifications@github.com]
Sent: 23 April 2015 18:51
To: robotology/icub-support
Cc: Stefano Saliceti
Subject: Re: [icub-support] Report of on-site visit of 10/3-14/3 to Heildeberg (#1)

Hi @super-ste<https://github.com/super-ste>, I confirm that I will bring the robot to IIT on t

[2015-04-24 11:33] drdanz opened #18 "[iCubGenova03] Right eye stuck"
Today I tried to use iCubGenova03, but it looks like that the right eye is stuck on the side.
When robotInterface is started, the joints 4 and 5 of the head are in idle.

[2015-04-24 14:12] BrutusTT commented on #16
Log file from robotInterface can be found here: http://pastebin.com/EJiXED86

[2015-04-24 15:05] rlober commented on #17
Hey man. First thing monday I will try. Have a good weekend.

[2015-04-24 15:28] massimoregoli opened #19 "Fingertip not working"
Tactile sensors on the index finger of the iCubGenova02 right hand are not working properly. Occasionally, when the fingertip is touched on specific points, almost all taxels assume suddenly very high values. Waiting for a while, or touching again the fingertip (in somehow) everything goes back to normal.

[2015-04-24 16:10] super-ste commented on #16
Update per Ingo:
I attached the log file that shows the failing motor for face joint 0.

In the recent days I also have seen head joint 0 sometimes failing but it was not consistent enough for me to take a log. In contrast to the face joint 0 for the head joint 0 I was able to use the robotMotorGui to switch it idle and run again. Which worked for the head motor but not for the face one.

cc @magg

[2015-04-25 12:20] pattacini opened #20 "Report of on-site visit of 20-24/04/2015 to Sheffield"
This is a list of things deserving attention/improvement which we spotted while working with **iCubSheffield01** during the [WYSIWYD](https://github.com/robotology/wysiwyd) integration week held in Sheffield from 20th to 24th of April 2015.

##### Mechanics
- [x] During `ARE` fingers calibration, the left thumb did not behave as expected, while the right thumb did calibrate nicely. The **abduction

[2015-04-27 07:20] super-ste commented on #16
@BrutusTT
please note this line in the log you sent.

``` [ERROR]TalkingFace_Calibrator : unable to clear the hardware fault detected on joint  0  before starting the calibration procedure! ```

This tells you that robotInterface cannot clear an error prevoiusly encountered.
Please provide a log after a clean start so we can assess the root couse of the problem.

cc @julijenv

[2015-04-27 09:36] BrutusTT commented on #16
Thats the problem we are trying to solve. It was a clean start. Everything was switched off and on again before starting the robotInterface.

We even tested it with enforcing the cleaning by putting the clearHwFaultBeforeCalibration flag into the proper config file. But it wasn't able to clear the HWFAULT state.

[2015-04-27 10:08] randaz81 commented on #16
According to the line:
`[DEBUG]TalkingFace_Calibrator : set 1 j 0 : Calibrating... enc values AFTER calib:  -87.0769`
I suspect an hardware issue in the AEA encoder of the jaw. In this case, the joint will go in HWFAULT state immediately after the recovery attempt done by the calibrator.
To confirm this theory: can you open the robotMotorGui (after robotInterface calibration is complete) trying to

[2015-04-27 11:06] maggia80 commented on #3
next week we will received the boards, and we will test it on the new hands (2.0) of the black robot.

[2015-04-27 11:08] #12 closed

[2015-04-27 11:08] maggia80 commented on #12
after replacing the board 3B6 the problem seems to be solved.

[2015-04-27 11:58] lornat75 commented on #19
@maggia80

[2015-04-27 12:02] lornat75 commented on #20
@mbrunettini @davidetome: check the issue with the configuration of the laptop:

-> Somehow, there were two bash files devoted to contain iCub related env variables: .bash_iCubrc and .bashrc_iCub, with mixed configuration. The standard file must be the former, while .bashrc was pointing to the latter, messing up the overall system.

Just to make sure we do not end up with the same problem in the f

[2015-04-27 13:44] maggia80 commented on #19
I guess the fingertip is going to break soon. I would suggest a replacement as soon as there is another fingertip (code 1465.6) available.

@super-ste

[2015-04-28 08:37] pattacini commented on #20
@randaz81 torque mode for `iCubSheffield01` was purposely disabled, hence `ARE` kinesthetic teaching was clearly not available.

[2015-04-29 14:54] KatSol commented on #16
Hi,
I think it is not moving at all, but maybe we can just Skype?

[2015-04-30 08:10] lornat75 opened #21 "Errors when starting robotInterface in log"
Posted originally by @Tobias-Fischer in https://github.com/robotology/icub-main/issues/143. It requires instructions for fixing configuration files @marcoaccame @randaz81.

Hi all,
we just recently updated yarp, icub-main and icub-firmware-shared on pc104 and our main machine. As we also started using yarplogger, we noticed several errors when launching robotInterface.

The error is as follows:
[c

[2015-04-30 08:32] randaz81 commented on #21
Under investigation. @Tobias-Fischer Can you tell me the name of your robot?

[2015-04-30 09:11] Tobias-Fischer commented on #21
Hi @randaz81,
our robot is iCubLondon01.
As it seems to be issues with the config files, could we also try sorting out some of our warnings :+1:?

[code]

Can I change `app/robots/iCubLondon01/icub_all.xml` from
[code]
to
[code]
?

Some more warnings:
[code]
The previous warning repeats for `cartesian/right_arm_cartesian.xml`, `wrappers/motorControl/left_arm_mc_wrapper.xml`, `wrappers/motorControl

[2015-04-30 09:17] Tobias-Fischer commented on #21
Actually there are some more warnings related to my initial post:
[code]

Many thanks in advance!

[2015-04-30 09:56] Tobias-Fischer commented on #21
And the last warning(s) ....

[code]

[2015-04-30 10:12] Tobias-Fischer commented on #21
Hi,
I just created a new pull request to fix the warnings related to the DOCTYPE / robot name etc.

However, the following still needs fixes:
1) Error from initial post
2) Warnings related to TORQUE_PIDS
3) Warnings related to ControlBoardWrapper2

Thanks, Tobias

[2015-04-30 14:20] randaz81 opened #22 "Mechanical backlash on right shoulder"
Joint 0 of the right shoulder is based on an old mechanical revision (codename: "panettone") which, after many years of operation, is now worn out. When possible, it should be replaced with the new mechanical revision (the "cylindrical" coupling), already employed on the left shoulder.

[2015-04-30 18:31] randaz81 commented on #21
fixed by commits: https://github.com/robotology/icub-main/commit/4dbf067cfd7fc33b54ddc9f87b40981a015bfc29 and https://github.com/robotology/icub-main/commit/a39f54c4e00a80aafa49beb2b2db7350a1fb543e

[2015-04-30 18:31] #21 closed

[2015-05-01 09:35] Tobias-Fischer commented on #21
Works like a charm. Thank you very much!

[2015-05-01 09:38] lukeboorman commented on #20
We are getting more frequent HW faults on neck joint 0 and I assume this then puts joint 1 into idle...

After startup (viewed with robotMotorGui) and during testing using the ball demo. I can send the robotInterface log file.

Could this be hardware?

[2015-05-04 07:10] mbrunettini commented on #20
Hi,
the installation instructions here:
http://wiki.icub.org/wiki/Generic_iCub_machine_installation_instructions
reports only the correct .bashrc_iCub file, as Lorenzo told.
@davidetome : do you confirm you followed the above instructions? In case you’re using an HD image, can you chack it?

Thanks

Matteo

From: Lorenzo Natale [mailto:notifications@github.com]
Sent: lunedì 27 aprile 2015 14:03
To

[2015-05-04 19:01] gsaponaro opened #23 "Right wrist pitch and yaw not working"
After starting ```robotInterface```, our robot calibrates then the right wrist suddenly "falls" and we observe the following in the robot GUI:

* joint 5 (r_wrist_pitch) is IDLE
* joint 6 (r_wrist_yaw) is in HARDWARE_FAULT

In the GUI, we are then able to control these joints. However, for j6, we are able to manually set the position from +25 down to -4... and then it goes into hardware fault agai

[2015-05-05 08:29] randaz81 commented on #23
- Is this issue happening always or just sometimes?
- "detected an hardware fault on joint  6  before starting the calibration procedure!" means that the joint was already in hardware fault before starting robotInterface, probably because the hardware fault occurred during a previous calibration. Please note that by default, robotInterface does not clear previous hardware fault during the startup.

[2015-05-06 16:20] gsaponaro commented on #23
Hi, thanks for the clarifications. The issue is happening all the time.

After making many restarts with @lorejam we observed the following:

When the hand calibrates, it calibrates first j5 then j6. After j5 calibration, j5 is at the end of the motion range, at that time it tries to move j6 to calibrate it but it goes to hardware fault because some mechanical parts are hitting each other (this ca

[2015-05-07 08:57] randaz81 commented on #23
No, this cannot be changed... (the sequence is the same for all robots with V1 mechanics). I still suspect an hardware issue, so I suggest to schedule a video call to check the status of the joints. @julijenv

[2015-05-07 09:12] randaz81 commented on #23
But when the issue started? Before it was working ok, isn't it?
From the initial post, I see that you are using fw build 80, which is not the latest version. However I'd not change this, if you confirm me that your right wrist was working ok in the past. Additionally, this problem does not occur on the left wrist...

[2015-05-07 11:29] lorejam commented on #23
Marco, it is indeed an hardware (mechanical) problem, that is present only
on the right wrist.
I guess the two hands are mounted slightly differently...

We saw this problem already in the past actually (with Vadim as well),
probably since the iCub came back from the last update (skin).

We can send you a short vídeo later today, showing the problem.

Ciao!
Lorenzo

On Thu, May 7, 2015 at 10:12 AM

[2015-05-08 13:28] lorejam commented on #23
Dear all,
here is the video showing the problem on the right wrist.
I am moving the robot while in IDLE.

Any idea about what should we do?

Cheers,
Lorenzo
   iCub_rightWristProblem_08052015.mp4
<https://docs.google.com/file/d/0B2Ws2AH1RBDlSmpEeU91OUtaQjg/edit?usp=drivesdk>
Em 07/05/2015 12:29, "Lorenzo Jamone" <lorenzojamone@gmail.com> escreveu:

[2015-05-11 09:49] julijenv commented on #23
Hi iCubLisbona01 users,
as was saying randaz81 on the date of 05/05/2015, you may have to check if the end of movement pin isnt bent.
Please take a look at thefollowing picture, the encircled pin: try to see if perfectly perpendicaulare to the base in which it is getting out:
![pin_end_movment](https://cloud.githubusercontent.com/assets/7140395/7562286/9dc47210-f7d3-11e4-8668-df9721b1539c.JPG)

Le

[2015-05-11 10:42] lorejam commented on #23
Dear Julien, Randaz (and all),
I attached another video in which I show the issue more in detail.

The pin looks perfectly perpendicular.
It also seems to be in the same position as the other wrist (the left one,
that does not show any problem).
However, the metal part close to the pin looks damaged, because of the
right​​ wrist colliding during the movement (as shown in the video).

​
 iCubLisboa

[2015-05-12 12:05] skkkumar opened #24 "icub genova 04 with broken cable in right hand"
Noticed the broken cable yesterday in icub04 right hand.

[2015-05-12 13:28] super-ste commented on #24
We're taking care of it.

@skkkumar
Can you please report whether it was broken already when you started working on it or you happened to be the one who broke it?

[2015-05-12 13:30] skkkumar commented on #24
It was already broken before I started to work on it.

[2015-05-15 06:13] rueckert opened #25 "Wrist yaw joint 6 calibration"
Hi,

we had some slack in the wrist yaw joint and fastened the tendons using the tensioners. Now after starting the robot the wrist yaw joint is not centered any more (it is at the positive extreme). We have to calibrate joint 6.

I guess we have to change the 'Zeros' entry in the right_lower_arm-ems4-mec.xml file (Thanks to @randaz81 how pointed me into that direction).
I have two questions:

1.

[2015-05-19 10:22] lornat75 commented on #25
The location of the file is correct 1). You just have to make sure you do not have a copy in ~/.local/share/yarp which will take precedence over it.

For 2). Usually the 'Zeros' parameter is appropriate for small values (a few degrees). If you experience an offset >20 degrees it means the calibration is wrong. Maybe this is due to the fastening of the tendon. In this case you have change the calib

[2015-05-26 07:32] reafrancesco opened #26 "fixing issues generated by recent demos"
After recent demos, the iCubGenova03 (red) shows several issues. I try to list them here and ask @reafrancesco to supervise the restoration:
- index finger (proximal) of right arm is malfunctioning.
- thumb finger (abduction) of the left arm is malfunctiong.
- the ocular bulbs of both the eyes touch the cover. This might cause the issue #18. @drdanz
- feet cover of the robot are still in fast prot

[2015-05-26 18:13] drdanz commented on #26
Adding a couple of issues:

  * A couple of days after we precisely calibrated the eyes using the screws inside, the calibration was lost. Apparently nobody touched it, so perhaps it changed during the calibration, when the eyes move at end course.
* If I remember correctly, when @julijenv mounted the back cover of the head, he said that it was the wrong cover, or that there was some other issue.

[2015-06-02 16:21] lukeboorman opened #27 "Problems iCubSheffield"
I spoke to Julien last night and we have got further diagnosis on some of the problems...

Here is the list:
1. Thumb oscillation on left hand joint 9 (proximal?) 'probably' due to hall effect sensor issue... We discussed sending the arm back to IIT, is this ok? and what time scale is need also what do I need transportation / packing..... I can remove it.... We checked sensor readings and they see

[2015-06-02 16:45] pattacini commented on #27
Hi @lukeboorman for the point 5 I'm afraid the answer is still `no`
see https://github.com/robotology/icub-support/issues/20#issuecomment-96977201.

Proper tuning of the `torque-PID` needs to be carried out beforehand.

/cc @randaz81

[2015-06-02 20:03] lukeboorman commented on #27
@pattacini No worries

[2015-06-04 10:16] matejhof opened #28 "skin problems on left upper arm"
Hi,
The skin on left upper arm had problems already before the blackie went to Shanghai. One triangle seemed to be often “stuck” - permanently activated.  I think the one on the picture below.
![left_arm_skin_problems](https://cloud.githubusercontent.com/assets/6461061/7982001/56a2441e-0ab3-11e5-91ec-aac87e975e42.png)
Phantom activations were appearing also on other regions of the upper arm. Can y

[2015-06-05 14:03] martz21 opened #29 "Skin fingertips hardware failures"
Hi!

The fingertips tactile sensors of our iCub are not working properly: they are functioning only sometimes, apparently at random, and in any case, in the few times they are up, a big pressure must be applied in order to have some useful signals out of them.
It was suggested that this issue sounds like probably broken pcb.
Do you have any suggestions on how to proceed?

Thanks,
Martina

[2015-06-08 14:39] martz21 commented on #29
Please find attached the pictures required!
I hope this helps

LEFT HAND
![left_hand](https://cloud.githubusercontent.com/assets/7202439/8037084/b891db88-0df3-11e5-89bc-fb3103a1839b.jpeg)
![left_hand_board](https://cloud.githubusercontent.com/assets/7202439/8037085/b891f474-0df3-11e5-8a38-cede5e159e93.jpeg)
![left_hand_ft](https://cloud.githubusercontent.com/assets/7202439/8037088/b894a57a-0df3-11

[2015-06-11 14:45] jypuigbo opened #30 "Shaking in Torque/Compliant modes"
Hi!

We've been trying to run the different modules on the iCub and we are finding that turning on ARE makes the robot shake, only its arms.

We've checked the torques and they are in the range -1.7/1.9 Nm, usually, before turning on ARE, while it goes up to around 4.0 Nm when turning it on.

The only modules running when this happens are:
- robotInterface (pc104)
- iKinCartesianSolver --part righ

[2015-06-11 16:24] pattacini commented on #30
Did you try to launch `ARE` in stiff mode by choosing `impedance off` in the configuration file?

It should suffice calling `actionsRenderingEngine --motor::impedance off`.

I'd expect there will be no shaking.

[2015-06-11 16:37] jypuigbo commented on #30
And you are right, I was rechecking the config file of ARE, I turned it off and there's no shaking at this moment.

But then, my question would be: when would I be interested in using impedance control? When wouldn't it be needed?
Is it needed for the calibration commands like ```calib table``` or ```calib fingers```?

[2015-06-12 07:01] pattacini commented on #30
With **`impendace on`** ARE puts the low-level motor control in **compliant mode**, that is movements are accomplished according to the following law (see the [wiki](http://wiki.icub.org/wiki/Force_Control#Available_control_modes)):

![pid_imp](https://cloud.githubusercontent.com/assets/3738070/8124658/58bb2d34-10de-11e5-9a79-8438e5de48f5.jpg),

which means that we use a different set of **PID gai

[2015-06-12 07:10] pattacini commented on #30
As side note, I've seen that the configuration file found by `ARE` is `/home/icub/Robots/icub-main/build-cluster/share/iCub/contexts/actionsRenderingEngine/config.ini`. This means that it's likely you edited the `config.ini` in the `build` when I asked you to modify the `impendance` option. Remember that this is a wrong practice that may originate problems that are difficult to be caught. Instead,

[2015-06-12 09:46] arturoribes opened #31 "iCubLondon01 right arm elbow motor blocked"
Hi,

Yesterday after a long run of experiments (around 2 hours of continuous arm usage), the arm suddenly stopped responding. I closed my applications, started yarpmotorgui and realised that joint 3 (elbow) was in idle mode. I tried to enable it by setting it to position mode and issuing commands using the GUI, but it went back to idle.
Then I closed robotInterface and after going to parking posit

[2015-06-12 11:34] jypuigbo commented on #30
As you have foreseen, in impedance mode it doesn't move although if it's not producing the shaking either. I've checked the two config files and they are almost equal to the ```yarpmotorgui```.
The only changes are:
* ```ktau``` is supposed to be ```1``` in all the joints and it's ```0``` in ```yarpmotorgui```
* stiffness should be ```(0.4 0.4 0.4 0.2 0.05)``` and ```yarpmotorgui``` says ```(0.399

[2015-06-12 12:10] super-ste commented on #31
Hi Arturo,
looks like your elbow tendon might have snapped and is stuck in the way of the movement. Can you check that? Or shoot a pic of the elbow seen from close by for us to look at?

Cheers

[2015-06-12 14:02] arturoribes commented on #31
From what we can see, both tendons are in their correct position. No one seems to have snapped. Here are some pics, let me know if you need more.

![la foto 4](https://cloud.githubusercontent.com/assets/7253187/8131696/0077216a-1114-11e5-96c5-d0276cab09bc.JPG)
![la foto 3](https://cloud.githubusercontent.com/assets/7253187/8131699/00794850-1114-11e5-9c69-aaa7f43c8873.JPG)
![la foto 2](https://clou

[2015-06-12 16:11] pattacini commented on #30
Thanks @jypuigbo for the test. They seem all fine. I think `ktau` is meaningful only for ETH robots, thus not for CAN robots: @randaz81 can you confirm that?

What I'm pretty sure about is that `ARE` is not responsible for such a daunting misbehavior, but I'm afraid this problem lies outside my competences...

[2015-06-12 17:13] pattacini commented on #30
Well, actually we can still argue that it's more likely a sensor problem rather than a control problem, since it keeps happening also in stiff mode.

Now I'm wondering whether you can see those red arrows going crazy even before starting up ARE.

[2015-06-12 19:19] jypuigbo commented on #30
No, not that crazy. The arrows are relatively small even before calibrating WBD, but it's true that they move in random directions all the time. Small but random. You can see them both in the videos. When the arrows stop being big, the ARE is already off. And before they go crazy, ARE is still not running.

IcubGui shows the hand trembling a bit, although I can't notice those movements in the robo

[2015-06-15 08:49] Tobias-Fischer commented on #29
Hi,
I just wanted to follow up whether you have an idea what the problem might be?

Thanks,
Tobias

[2015-06-15 12:15] pattacini commented on #30
@robotology/icub-support-admin
I think we would need a specific test for verifying the functionalities of the F/T sensors.

[2015-06-18 09:45] super-ste commented on #30
Okay guys,
a meaningful check to perform in order to massese the functionality of your F/T sensors is to scope the output of the F/T sensor and send us the relative screenshots.

[Check here how to setup yarpscope] (http://wiki.icub.org/yarpdoc/yarpscope.html)

Launch the robot interface and leave the robot in the calib position. Scope the 3 force channel and the 3 torque channel for both scopes a

[2015-06-18 14:25] martz21 commented on #29
Hi!

We tried to unplug and plug the boards on the knuckles, however nothing changed: the fingertips are only working irregularly.
How sensitive are the fingertips supposed to be? If we try to only slide on surfaces, it looks like they never get activated (the skinGui does not show any activity).

Any suggestion you could give will be greatly appreciated. Thanks in advance.
M.

[2015-06-22 15:47] jypuigbo commented on #30
Is this more or less what you need? This is showing the daa of the first 4 indices [red, green, blue, orange] for the 3 ports that you can read on the titles, for both arms. I'm not very sure if is this what you were looking for.

![wbd test1](https://cloud.githubusercontent.com/assets/3121184/8285855/6fdd85cc-1906-11e5-8889-ab6ed04aed79.png)

[2015-06-22 16:10] pattacini commented on #30
@jypuigbo I think we need you go deeper and log directly the F/T sensors output, therefore please redo the plot of the `icub/left_arm/analog:o` and `icub/right_arm/analog:o`, that is those ports that are upstream wrt `WBD`.

[2015-06-22 16:28] jypuigbo commented on #30
I hope this looks better.
I guess it's normal, but for the previous plots, which were still running, the lines had already gone out of the boundaries.
![wbd test2](https://cloud.githubusercontent.com/assets/3121184/8286831/31e8d0fe-190c-11e5-99e2-2e7443f64fd4.png)

[2015-06-25 11:54] super-ste commented on #31
cc: @maxime-petit

Hi London Crew,
after the troubleshooting you had with @julijenv we draw the following action plan:

* Unwire the right arm (seek Skype support if you need guidance)
* Remove and carefully pack the arm
* Ship it back to IIT.
* We will revise and solve the motor issue (probably a motor replacement will be needed)
* We will have a look at the fingertip issue (please update Martina

[2015-06-25 12:11] ale-git opened #32 "iCubGenova02 no qe-index error also if no qe-index robot."
The test firmware uploaded to upper arm 2FOC shoulders was expecting Index signal in motor QE, but the V2 iCub motors have no index. 5 boards of 8 signaled error, but 3 of them didn't, so we have to check the encoders with a FW version expressely made for no QE-index motors.

[2015-06-28 18:27] pattacini commented on #19
This upcoming week a new board will be installed on one hand of `iCubGenova04`, which is specifically devoted to process fingertips data.

This solution should allow fixing the various problems experienced on the fingertips.

[2015-06-29 06:34] maggia80 commented on #19
Today the board will be installed and we will test it.

[2015-06-29 06:36] maggia80 commented on #29
We will check the fingertips once we will have the arm here in IIT

[2015-06-29 08:18] lornat75 opened #33 "problem with fingertips"
@bhigy @massimoregoli can you add more details?

[2015-06-29 08:25] lornat75 commented on #19
@pattacini: the issue is referring to iCubGenova02 (aka purple robot). For iCubGenova04 see: #33

[2015-06-29 08:27] pattacini commented on #19
yep, it was just to add here in the stream the info about such a solution.

[2015-06-29 08:32] pattacini commented on #33
Last week I sent a failure report to @robotology/icub-support-admin (through email) about the following issues:

- Left hand fingertips do not work.
- Right hand fingertips undergo frequent freezing.

@super-ste is working on it right now.

/cc @giuliavezzani

[2015-06-29 08:33] bhigy commented on #33
On the left hand, the fingertips of the thumb, index, middle and little finger are not working.
On the right hand, the palm and the fingertips of the ring and little finger are not working.

[2015-06-29 10:01] matejhof commented on #28
The problem still persists. From what I understood from @julijenv , to fix it may require replacing the PCB.

[2015-06-29 11:15] maggia80 commented on #28
Yes, the only way to solve it, is to replace the pcb.

[2015-06-29 11:24] maggia80 commented on #19
since I am color-blind I have confused the violet label with the blue one (that is why I have add purple in the label). Therefore I have to rectify: the board will be mount on the blue icub. @julijenv is checkink the purple one. I am going to buy the components to assembly other FTC boards, in case we do not managed to solve the issue in this robot and we have to put those boards on it as well. Th

[2015-06-29 13:32] bhigy commented on #3
Have there been any update on this? Today, I noted issues on both hands.

On the left one, the palm is not working.

On the right one, the fingertip of the middle finger is not working while the thumb, the index and the ring fingers stopped working after a few minutes. Also, there were artifacts on the little finger (it was flickering even though I didn't touch it).

[2015-06-29 13:45] #24 closed

[2015-06-29 13:48] super-ste commented on #22
Upgrade performed.

Closing this issue.

[2015-06-29 13:48] #22 closed

[2015-06-29 13:50] super-ste commented on #3
This issue will be addressed once we have some proof the new board as per issue #33 is resolutive.

[2015-07-05 11:59] jypuigbo commented on #30
I just write to know if there are any news on this issue.

In any case, trying to realize what was going wrong I found the plots I posted where both from the same arm... Here's the new one.

Please, let me know of anything you think I can try and check.

![wbd test3](https://cloud.githubusercontent.com/assets/3121184/8511568/f58c32a6-231d-11e5-9a64-668ece7172d7.png)

[2015-07-05 12:32] jypuigbo opened #34 "robotInterface not running"
Hi,
Yesterday I had an accident with the robot and the left elbow tendon broke. Luckily I have Alex here to fix it tomorrow, but for some reason that I don't know yet, robotInterface is giving some errors and starts without calibrating anything. Do you think is because of the broken tendon or it might be something else? We  have a deadline next Tuesday (07/07) so this happened in the worst moment.

[2015-07-05 13:01] traversaro commented on #34
To run the `robotInterface` without running any left_arm-specific device, you have to write a custom `robotInterface` configuration file.
All the following commands are relative to the computer where you run the `robotInterface`, i.e. the `PC104`.
To modify the current configuration file, import the `robotInterface` configuration file that you are using (looking at the configuration files for iCub

[2015-07-05 14:18] jypuigbo commented on #34
Thanks @traversaro for the super-fast reply!

I tried that. ``` robotInterface``` doesn't load anything related to the left arm, cool until this point. But for some reason, the calibration sequence doesn't work at all, for no joint of the robot:
[code]

And after finishing, it says it's working fine, I open ```yarpmotorgui``` and all the joints are idle. If I try to run any of them, the following

[2015-07-05 20:04] jypuigbo commented on #34
The problem magically disappeared after restarting. Left arm disconnected successfully and everything else ok.
Thanks!

[2015-07-05 20:04] #34 closed

[2015-07-06 07:12] maggia80 commented on #33
We have fixed the lefthand. Let me know if you find any other issue in the left fingertips. I will update about the status of the right hand soon.

[2015-07-06 08:09] pattacini commented on #33
so far so good...

[2015-07-07 06:52] kt10aan opened #35 "Multiple failures in sharedcan[x]"
Hi,

today we put our iCub in impedance mode and there was some shaking. Immediately we turned off the corresponding module.

After that however we can not start up robotInterface as we were getting multiple errors. Usually associated with [ERROR] shared can[x] ... Mainly in sharedcan[3] and [5].

The [3], the left leg, was an issue for some time, as the connector was not always making contact and

[2015-07-07 08:28] super-ste commented on #30
@jypuigbo
Can you please zoom in all the curves so we can evaluate the amplitude of the noise.

@pattacini
Can we perform the same test on one of our robot (Blackie) and use it as a "gold standard" to see how it compares with the ones in Barcelona.

I am still puzzled if we have an hardware problem or not.

[2015-07-07 08:37] pattacini commented on #30
It would be helpful if we can use here the same `xml` files of `yarpscope` @jypuigbo used in Barcelona to acquire the data.
@jypuigbo can you send them to us?

[2015-07-07 08:59] martz21 commented on #29
Yesterday I tried the tactile sensors: in the first trial the fingertips were giving some signals when a certain pressure was applied, but after this first trial, they were not giving any signal, like they didn't get activated anymore. Did you experience this behaviour before?

[2015-07-07 09:22] julijenv commented on #35
Hi iCubOsaka01 users,
sharedcan[3] is as you find out the left leg and the sharedcan[5] is the left forearm - from the following lines of the logfile you sent us:
266 3.884559 4 sharedcan [5] joint: 0 can_address:  5 Unable to detect firmware version. Old firmware running?
267 3.884596 4 sharedcan [5] joint: 1 can_address:  5 Unable to detect firmware version. Old firmware running?
268 3.884633 4

[2015-07-07 12:49] maggia80 commented on #29
We have found an issue in the flexible pcb of the fingertips. We discovered broken traces in some fingertips due to fabrication process. And the bad thing is that they breaks in such a way they still work in some conditions. I can not say if the problem you have experienced is due to this issue or a broken wire , but I can tell you that as soon as we will have your arm we can check on it the statu

[2015-07-09 07:28] kt10aan commented on #35
The MC4 that was supposed to have ID5, had jumped to ID15...
Changed it back to ID5 and now the robotInterface starts normally. I will run some tests to make sure that no others errors pop up, but it seems that surgery was avoided :)

Many many thanks!!

P.S. I used to get these "ID jumping" errors in a pcan/ecan iCub, but it seems that this type of malfunction is also happening with cfw2can. Is t

[2015-07-09 14:54] julijenv commented on #35
Hi iCubOsaka01 users,
AFAIK there is no way out to know when this happen, the boards reach this configuration in a random circonstances. There hs never been tested deeper to find out how it happens. It is by the way something that could be investigated but i guess that the priority is very low level (minus 15 or something :P). Just let us know if it happens often to you or just once a year - which

[2015-07-09 19:37] pattacini commented on #35
Eheh :clap: @julijenv

[2015-07-09 19:40] pattacini commented on #35
For me it's one of the worst bug we could ever have since it means we loose the control of the hardware...
But what @julijenv said seems to be true...

[2015-07-10 10:23] rueckert commented on #25
@julijenv
Thank's for helping us. Here is the dropbox link to the log files and videos I recorded during the calibration procedure: https://www.dropbox.com/sh/59dnnj5yr0j7p7v/AAA1WcU65BrLOs26uqHRkWBJa?dl=0

From the motor gui erverything looks ok, just that the right wrist has the offest. Let me know if you need aditional information.

[2015-07-10 15:22] julijenv commented on #25
Hi iCubDarmstadt01 users,
Hopefully it is quite nothing to fear, but i think one of your motor is not working at all, the reason is , telling that by experience, the connector going to the control board is disconnected or one of the wire inside the connector is broken. The 2 motors coupled for the movement of the wrist are the tagged 2M1 and 2M2, you should find them connected to the board 2B2 und

[2015-07-10 15:24] marcoaccame opened #36 "Sporadic failures of robotInterface when the robot is just switched on"
At Sheffield people have experienced sporadic failures of robotInterface when the robot is just switched on from cold. Attached is the log file.

From analysis I have done, it seems that there is a failure to detect fw version of the 4DC board with addresses 2 and 3 which serves joints 2, 3, 4, and 5. On the same bus the BLL board at address 1 is instead seen.

At successive launch of robotInterfa

[2015-07-10 15:36] marcoaccame opened #37 "The left arm must be helped during calibration"
At Sheffield people are experiencing failures of calibration of the left arm if the arm is not helped to reach its final position.

From comparison of the log files (two cases: OK and failure) it can be seen that in case of failure it happens the following.

there are several encoder errors which do not show if the arm is helped.

[code]

it is detected a HW fault on left arm joint 3 which prevent

[2015-07-10 15:37] marcoaccame commented on #37
first log file: the arm is helped
[code]

[2015-07-10 15:38] marcoaccame commented on #37
second log file: the arm is not helped

[code]

[2015-07-10 15:40] pattacini commented on #36
see remaining points in https://github.com/robotology/icub-support/issues/20.

[2015-07-10 15:41] pattacini commented on #37
see remaining points in https://github.com/robotology/icub-support/issues/20.

[2015-07-10 15:55] gsaponaro opened #38 "iCubLisboa01 - July 2015 firmware upgrade"
Hi, we'd like to upgrade the firmware on our robot, which we haven't done in ages.

In [this comment](https://github.com/robotology/QA/issues/29), @traversaro mentioned that there is a new procedure, could someone briefly explain it?

Additional information and questions:
* robot is iCubLisboa01, current firmware we are running is reported at the bottom of this message;
* the way we used to do the

[2015-07-10 15:58] gsaponaro commented on #23
Hi all, do you have any other suggestion on this issue, considering the latest information provided by @lorejam on 11 May? Thanks.

[2015-07-10 16:05] traversaro commented on #38
@gsaponaro the procedure is always the same, I just referring that http://wiki.icub.org/wiki/Firmware should be updated to take in consideration that now the firmware images are supposed to be downloaded from https://github.com/robotology/icub-firmware-build .

[2015-07-10 16:20] gsaponaro commented on #38
I see, thanks!

Now I'd just like to clarify about the 4DC.**2** vs 4DC.**1** question and I'm good to go. I'm a bit cautious when touching firmwares.

[2015-07-10 16:50] Tobias-Fischer commented on #31
Hi guys,
we've replaced the bearing of the motor and it (manually) can be moved again. We've put everything back together, and tried to start robotInterface.
Unfortunately, we get these two errors repeated thousands of times:
`44388		15.993706		ERROR		recv buffer overrun ( 500 >  500)`
`44394		15.993962		ERROR		sharedcan [2] board 1 ABS ENCODER ERROR AXIS 1`

We've checked all the connectors, and

[2015-07-13 09:00] rueckert commented on #25
Thank's @julijenv for your reply.

I carefully removed the upper arm cover and had a look at the connectors and cables. I could not find any loose cable or connector:

![icubdarmstadt_2b2_view1](https://cloud.githubusercontent.com/assets/10942366/8646108/611dde22-294d-11e5-936e-23bc7011daa8.JPG)
![icubdarmstadt_2b2_view2](https://cloud.githubusercontent.com/assets/10942366/8646113/62aaeeb0-294d-11

[2015-07-13 10:12] Tobias-Fischer commented on #31
Hey,
we checked continuity between AEA and the corresponding connector on the back of the robot. Continuity is fine. As suggested via Skype, we disconnected the connector on the back. Then, we get the following errors:
[code]

So additionally to board 1, we get the same error for board 2. Furthermore, we get the `PWM DIS` error.

Best, Tobias

[2015-07-13 14:52] julijenv commented on #25
Hi Elmar,
as you can notice the range of both wrist is the same except the shift coming the center and due to the non calibration of the wrist. You've got encoder values for either joint 5 and 6 that are coupled which means that the encoder AEA should work properly. The position of the wrist in the center part depends actually just from one motor. I guess this motor has an issue as i was explainin

[2015-07-13 15:08] massimoregoli commented on #19
Apparently now all fingertips are working fine on both hands, there is just an issue related to the pinkie of the left hand, sometimes when pressed it activates taxels on the other fingertips.

[2015-07-14 08:32] Tobias-Fischer commented on #31
Hi, @maxime-petit  and I were able to resolve the issue. Board 1 is apparently not the one corresponding to the elbow, but the one of the shoulder. Visual inspection showed that all wires were attached on the sensor side, but one wire was out of board 2B0 (the one below 2B1 on https://www.dropbox.com/s/8hjjmul9w10yf5l/S4-2B1.jpg). After soldering the wire back on the crimp, everything works fine.

[2015-07-14 13:01] #31 closed

[2015-07-14 13:17] martz21 commented on #29
Is there a way we can check here if the problem is related to the pcb or to some connections?

[2015-07-14 13:30] Tobias-Fischer commented on #29
The reason @martz21 asks is, that https://github.com/robotology/icub-support/issues/31 is now resolved, and therefore we do not necessarily need to ship the arm back. So maybe it would be possible to replace the PCB's you are referring to ourselves? If not, which part of the iCub do you suggest to ship back? The forearm?

Best, Tobias

[2015-07-14 14:29] jypuigbo commented on #30
I attach the soomed plot and at the same time I'm sending the xml file to Ugo.

![wbd test4](https://cloud.githubusercontent.com/assets/3121184/8675652/83e749d6-2a45-11e5-8435-76ef8af8fff0.png)

[2015-07-14 15:15] julijenv commented on #29
Hi iCubLondon01 users,
As it has been said previously by @maggia80 , some trace connectedd directly on the wire pads of the fingertips pcb are really easily breakable.
left fingertip pcbs
![p1040032](https://cloud.githubusercontent.com/assets/7140395/8676242/945f4d1a-2a48-11e5-884a-a0536b73bad1.JPG)
right fingertip pcbs
![p1040024](https://cloud.githubusercontent.com/assets/7140395/8676262/b51135a

[2015-07-14 15:20] rueckert commented on #25
Hi,

@julijenv, please check the movies I put in the dropbox folder.

I opend the cover of the lower arm and found that both motors (2M1 and 2M2) are moving, see the latest movies in https://www.dropbox.com/sh/59dnnj5yr0j7p7v/AAA1WcU65BrLOs26uqHRkWBJa?dl=0
I played with joint 5 in the yarpmotorgui to inspect the correct function of the motors. The joint nicely reached its limits. However, joint 6

[2015-07-15 06:38] pattacini commented on #30
There are the results on our `Blacky`.

Outputs of `analog ports`:
![shot_0](https://cloud.githubusercontent.com/assets/3738070/8692207/582cddc4-2acc-11e5-9ed6-80ab2feec009.png)

Outputs of `WBD ports`:
![shot_1](https://cloud.githubusercontent.com/assets/3738070/8692209/64eff492-2acc-11e5-9e0b-45860d4fa5fa.png)

I don't think these results are decisive anyhow.

[2015-07-15 11:05] martz21 commented on #29
Hi! Thanks for the previous message.
Are the boards you mention the small ones (5 in total) on the knuckles?
Can they be taken off completely from the hand to make this work?
Thanks in advance for your help.

[2015-07-15 11:27] julijenv commented on #25
Hi guys,
from the video i can not say that the motor is not spinning but i dont know if it is from its own will ( because actually joint 5 is the only joint coupled - but joint 6 use just the 2M2 motor to spin - so i guess that when you ask joint 5 to move nothing tell me that 2M1 just help the other motor to spin but when joint 6 need to move just 2M2 is concerned and at this moment by itself is

[2015-07-15 11:30] julijenv commented on #29
No, the pcb on the pictures are the ones on the fingertips itselves- just remove the nail and you should see it.
best of luck if you try it out!

[2015-07-15 13:39] rueckert commented on #25
Hi,

@julijenv  thank's for the hind, I already though about testing the dc motors directly.

Both motors, 2M1 and 2M2 are working and the wrist moves when supplying the motors with about 4 Volts.

I still don't believe that its a motor or connector problem. One can see that both motors are actively driven when setting joint 5 to some desired joint position. The cables and the connectors are ok. I

[2015-07-15 14:01] julijenv commented on #25
Hi, so finally we know tha tthe motor is ok. So obviously now we could think about problem with config files, but at this i'd like to know if you havent touched anything in between the day it was working properly and the day it wasnt ??? because the robot got out from us working and the only way that is not working anymore now - if it isnt a mechanical problem I mean -  is that you went to some fi

[2015-07-15 15:07] ale-git opened #39 "iCubGenova02 - right ankle 2FOC always in external fault"
Probably a external fault cable issue in the right lower leg 2FOC board.

[2015-07-15 16:24] rueckert commented on #25
@julijenv

The used calib files are equal to the ones in the git repo. Checked with diff. Can you check if these two files are correct?
icub-main/app/robots/iCubDarmstadt01/hardware/motorControl/right_lower_arm-ems4-mc.xml
and left_lower_arm-ems2-mc.xml

The icub_all.xml file used (in build-pc104/share) is equal to the one at icub-main/app/robots/iCubDarmstadt01

We installed updates of the firmew

[2015-07-16 15:36] julijenv commented on #39
No problem with the fault wires.
It was changed the non functionning 2FOC board (IITCODE 3336.D - SN1068) by the 2FOC (IITCODE 3336.F - SN1117).
The robot is now calibrating normally.

[2015-07-16 15:36] #39 closed

[2015-07-16 15:51] julijenv commented on #16
Hi @KatSol , we are closing some issues still open ion github, can you confirm that one was solved?
Lert me know

[2015-07-16 16:33] KatSol commented on #16
Dear Julien,
no it is not solved as my student mentioned in his last email:

Hi,

after Katrin fixed the encoder problem we are still having problems with the jaw joint.

I attached two log files of different runs. The first indicates trouble with some motors during the shutdown procedure whereas the second seems to be normal.

However, in both runs the jaw motor was just making some ticking noise

[2015-07-16 23:46] skkkumar opened #40 "blue icub torso problem"
The blue icub need to be checked. It starts to loose its balance after starting the robotinterface, and starts to shake the torso.

Note : Not running or enabling the torso through any of my program

[2015-07-17 12:32] BrutusTT commented on #16
The logs can be found here http://pastebin.com/8cUYNUyP and here http://pastebin.com/8a1qa5Uz

[2015-07-17 15:49] martz21 commented on #29
Hi! We had a look at the boards as you suggested but we are not sure whether the boards are the same (they seem to look different); also, we cannot tell if the problem is the same that you showed in your pictures. I upload below the pictures we took from one of our fingertip board.
Please let us know if the pictures give you any hint regarding the problem.
Thank you in advance!

![1308161998245](h

[2015-07-21 06:12] maggia80 commented on #29
Hi,

The circuit is the same. You do not see the break in the trace, it is weird but where is the red circle in the picture below, there could be the break. You should as Julien wrote you remove the green solder mask and solder over the trace. If just a couple of fingertips have this issue none of them are working. Because they share the same bus.

![923cf49e-2ca3-11e5-810b-e7f84d7636d3](https://c

[2015-07-25 10:43] pattacini opened #41 "Issues to be solved before delivering iCub + cluster to Lyon"
@robotology/wysiwyd-developers consider to expand on the following:

- [x] @pattacini @AnneLaureM @Tobias-Fischer set up software on the cluster.
- [x] @iron76 @julijenv fix right wrist cable.
- [x] @mbrunettini on the blades nodes we cannot employ `sudo` as `icub` user; here is the error message: **`sudo: effective uid is not 0, is sudo installed setuid root?`**. The current workaround is to ssh

[2015-07-27 08:26] Tobias-Fischer commented on #41
Hi @randaz81 @robotology/icub-support-admin @julijenv,
when starting the iCubLyon01 today in the morning, we got errors related to the MAIS of the left hand. Only the green light is on, whereas the red light does not switch on at all. On the right hand, the red light first shows orange, and later on becomes red.
We already checked whether the boards on the knuckles are mounted properly, and they a

[2015-07-27 08:36] Tobias-Fischer commented on #41
Hi @pattacini, @mbrunettini,
I think the issue regarding `sudo` is resolved. I can ssh into `icub-b1` etc. as `icub` user, and then do e.g. `sudo test` without any issues.

[2015-07-27 09:03] super-ste commented on #41
Hi all,
regarding the MAIS issue, a new firmware was committed to help troubleshooting the MAIS problems.

So, if you can see the MAIS on the CANLoader i'd advise to load up the latest firmware version.

If the MAIS is not responding on the CAN then probably we have a flaky cable somewhere. Please report and we'll take it from there.

For the fingertip patch, we can certainly have a look at it whe

[2015-07-27 09:15] mbrunettini commented on #41
How did you fix it?

Matteo

From: Tobias Fischer [mailto:notifications@github.com]
Sent: lunedì 27 luglio 2015 10:37
To: robotology/icub-support <icub-support@noreply.github.com>
Cc: Matteo Brunettini <Matteo.Brunettini@iit.it>
Subject: Re: [icub-support] Issues to be solved before delivering iCub + cluster to Lyon (#41)

Hi @pattacini<https://github.com/pattacini>, @mbrunettini<https://github.co

[2015-07-27 09:32] AnneLaureM commented on #41
Hi @mbrunettini,

We have not done anything precisely. I guess it was a startup procedure error ... (between the server and nodes). Maybe It will more sure you take a look when the cluster will be at IIT. But normally the sudo works properly.

Thanks !
Anne-Laure & @Tobias-Fischer

[2015-07-27 09:41] mbrunettini commented on #41
Ok, I'll double-check it, once in IIT.
This system is not installed from scratch on every new system, but cloned from a working setup and we never faced the same issue in the past. But it's strange that the system has been rebooted many times when we saw the issue.
Anyway, thanks Anne-Laure & Tobias!

[2015-07-27 10:08] mbrunettini commented on #41
Just to record the issue, it seems that the SETUID bit is missing on some binaries (i.e. /usr/bin/sudo) or it has a wrong ownership
https://en.wikipedia.org/wiki/Setuid
I'll check it.

[2015-07-27 13:02] AnneLaureM commented on #41
Hi @super-ste,

Now the left hand works, it seems the problem came from a old connector that had moved. Do you think we should still update the firmware OR this can wait the iCub comes back to IIT ?

Thanks
Anne-Laure

[2015-07-27 13:16] super-ste commented on #41
Hi,
I guess you still could do the upgrade. It takes no more than 5 mins and could be useful to troubleshoot further issues.
@randaz81 can easily drive you thru it.

[2015-07-27 13:22] AnneLaureM commented on #41
roger that !

[2015-07-27 15:51] gsaponaro commented on #23
/cc @julijenv @super-ste

[2015-07-28 09:32] pattacini commented on #41
@robotology/icub-support-admin @super-ste @julijenv added note on the broken ethernet cable: see https://github.com/robotology/icub-support/issues/41#issue-97216747.

[2015-07-28 10:23] Tobias-Fischer commented on #41
Hi @pattacini, @super-ste, @julijenv,
additionally to the issue with the external Ethernet cable, we also have the problem that we only get a 100Mbps connection, rather than 1Gbps.

@randaz81:
Is the problem with the iKart fixed with https://github.com/robotology/ikart/commit/28e2bb435334ef9fbbb397124e98897a5a69f58f?

[2015-07-28 10:36] lornat75 opened #42 "fingertips on iCub purple do not work"
Massimo @massimoregoli noticed the following problems with the fingertips:

- Left hand: thumb not working, one taxel of the other fingertips get max activation
- Right hand: strange noise on middle and thumb

@maggia80

[2015-07-28 11:04] pattacini commented on #41
it came out that the `100 MB/s` problem was apparently due to a specific ethernet plug onto the switch.

[2015-07-28 11:34] maggia80 commented on #42
we are preparing two fingertips and we will mount them to replace the two faulty one.

[2015-07-28 14:39] randaz81 commented on #38
@gsaponaro firmware 4DC.2 is not an upgraded version of fw 4DC.1. It is supposed to run on a completely different hardware. So when you update your system please be sure to use the firmware files with the same exact version number.
Only the build number (80) will change.

[2015-07-28 16:49] gsaponaro commented on #38
Thanks @randaz81, we confirmed we were going to flash the correct files, and the firmware was successful. :)

Just an observation: during the upgrade, some huge bogus numbers were printed, however in the end all boards reported upgrade went OK. Here is the log where I marked the "strange" lines in asterisks:

[code]

[2015-07-29 11:20] #38 closed

[2015-07-29 11:42] gsaponaro opened #43 "robotInterface errors and warnings, July 2015"
Hi all, having recently updated all software and firmware on our robot (pc104 and cluster), we noticed some errors and warnings reported by ```robotInterface```. I summarize them below, and I uploaded the full log here: https://gist.github.com/gsaponaro/48f6cac5983c3cde9daa

Any hints on how to address these issues? Thanks!

1)

Many skin errors [**FIXED**, see below]:

[code]

2)

A few FAULT mes

[2015-07-29 13:49] paraschos opened #44 "iCubDarmstadt01: Position Direct Ctl is slow"
The setPositions over the IDirectPositionCtl takes forever to return and I can  control the robot at max. frequency of 12Hz. I am "viewing" the interface from the PolyDriver which opens the "remote_controlboard", "left_arm".

I am getting warning messages whenever I am controlling the robot:

[WARNING] from BOARD 1, src LOCAL, adr 0, time 840s 190m 209u: (code 0x0000000d, par16 0x0235 par64 0x0000

[2015-07-29 13:55] paraschos commented on #44
Since it could be a configuration issue I have to say that the robotInterface can't start normaly from the home but it says:

[code]

The robotInterface starts happily from $ICUB_ROOT. Not sure if it is related.

[2015-07-29 14:02] paraschos commented on #44
An interesting point:

"One more question: what is the max rate that I can set cmd over the IPosDirect? Does the setPos blocks until the pos is reached from the robot or until the command is ack from pc104?"

@randaz81 said:
"setPos is not blocking. If you send new reference position, and the joint still has not reached the previous position, the target will be simply overwritten (and the PID will

[2015-07-29 14:08] barbalberto commented on #44
Indeed position direct is not blocking and it is meant for higher frequency loops. It shall take no time to return.
Can you plese comment out the SetPositions line and see if you loop speeds up or it takes about the same time?

[2015-07-29 14:41] paraschos commented on #44
Apparently the problem was the setPositionDirectMode(). I copied some code that was sending it over and over again at every time point. Now I can send commands as fast as I like. What is the max frequency you recommend? I tried for fun up to 5KHz and I could send them without congesting the system. My controller was also quite accurate with an overtime of 0.3ms at a movement of 3s. Up to 2KHz I ha

[2015-07-29 14:48] pattacini commented on #44
Since the FW runs at `1 KHz`, any sending rate > `1 KHz` won't have any effect on the control.

That being said, the sending rate `r` at the user level should be chosen to properly sample the waveform you aim to realize. Such a waveform will be limited in frequency up to `B` (i.e. the band), so that you can choose `r~10*B` (approximately), or something like that. From experience `r=100Hz` is prett

[2015-07-29 15:40] julijenv commented on #23
Hi @gsaponaro and @lorejam,
It is a kind of known issue of the wrist V1, the right wrist block after a certain period of use, you will have to file a bit the metallic bit holding one of the cable at the base of the wrist.
see pictuer on our red icub, the last robot with V1 wrist.
![filed_wrist](https://cloud.githubusercontent.com/assets/7140395/8961266/7d8657be-3614-11e5-8fe3-ae52ec0ec476.png)

Ju

[2015-07-30 08:56] #44 closed

[2015-07-30 14:31] ibichind opened #45 "Link error with iCub Hello World example"
Hello,
I have installed YARP 2.3.64 and iCub 1.1.16 on Windows 7 32-bits with CMake 3.3.0. YARP compiles and runs fine. iCub also and the iCubSIM example works well.
However when compiling iCub Hello World from this example http://wiki.icub.org/iCub/main/dox/html/icub_hello_icub.html, I get an error message:

Error	1	error LNK1104: cannot open file 'opencv_videostab.lib'

Since I chose all options

[2015-07-30 15:27] ibichind commented on #45
Hello,
I have resolved the issue - I post here what I have done in case someone else gets the same error message.
I modified the CMakeLists.txt file to include the OpenCV libraries:

cmake_minimum_required(VERSION 2.8.9)

if(COMMAND cmake_policy)
cmake_policy(SET CMP0003 NEW)
endif(COMMAND cmake_policy)

# find YARP and ICUB
FIND_PACKAGE(YARP)
FIND_PACKAGE(ICUB)
FIND_PACKAGE(OpenCV REQUIRED)
# add

[2015-07-30 15:34] pattacini commented on #45
Hi @ibichind
Happy to know that you solved the problem.
That was a very old `"hello world"` code; that's the reason of the bug. Thanks for spotting.

In the future, please consider posting SW related issues on https://github.com/robotology/QA or https://github.com/robotology/yarp rather than here, since `icub-support` is meant for maintenance issues.

[2015-07-30 15:34] #45 closed

[2015-07-31 09:08] pattacini opened #46 "Oscillations spotted on the head after maintenance"
We have the hunch that after the maintenance work done to repair the Blacky's head there's been some weird problem with the head mechanics.

Refer to https://github.com/robotology/icub-main/issues/121 for the complete history.

[2015-07-31 16:36] gsaponaro commented on #23
Thanks very much, @julijenv . We will proceed with your suggestion after the holidays. Have a good August! In the meantime, today we just inspected the wrist further, and it seems we identified these problems:

1)

The metal bit that needs to be filed, as you suggest (will do that asap).

2)

The steel cable of r_hand_finger (hand finger adduction/abduction) was broken, and probably the correspond

[2015-08-03 10:05] julijenv commented on #23
Hi iCubLisboa01 users (@lorejam e @gsaponaro),
So as mentionned on your last comment, you identified quite a lot of issue on the same hand.
As a matter of fact 3 things need to be done:
-File the metal plate
-Rewire the abduction (http://wiki.icub.org/wiki/Tendons_and_replacement) and download the tendonsHand.pdf and check thumb_oppose description
-Hall sensor not working
The main question that ri

[2015-08-03 12:03] AnneLaureM commented on #41
Hi @super-ste
I left (at the end of VVV15) with the iCubLyon01, a laptop for the cluster console (brand LDLC with french keyboard ;-) ). The old laptop being a little too old to run several graphical interfaces (yarpmanager, Yarp view, iCubGui). I brought this computer for VVV15, it was not sent with the robot. So it is not listed in the material received by IIT. Will it be possible to return it a

[2015-08-03 12:15] super-ste commented on #41
Hi @AnneLaureM
Sure!!

@pattacini gave us precise instruction wrt that!
One piece of info for @julijenv is whether the laptop has already been updated with the current configuration files (i.e. if we can use it to test the robot or if we better use the old one).

Cheers
S.

[2015-08-03 12:37] AnneLaureM commented on #41
@pattacini Thanks !!
@super-ste @julijenv, indeed It will be better to use the new one to test the robot if the French keyboard does not bother you (I'm also really sorry for that ... :-( ). I think we never will restart the old one ;-)
Just one more thing, I also noticed that the "Home" position on yarpMotorGui did not work. Is there a way to set it up?
Thanks very much to all of you !!
Anne-Laur

[2015-08-03 14:02] super-ste commented on #41
HI @AnneLaureM,

regarding your question:

please check if there is an answer to that in:
https://github.com/robotology/QA/issues/42

if not, please open an new issue there.

[2015-08-05 07:51] mbrunettini commented on #41
@AnneLaureM,
I just checked the two racks about the "sudo"issue: everithing is ok and the systemis working smoothly.
As an additional precaution, since the CISCO network switch takes a lot of time to boot up, please wait until the light on the connected ports becomes GREEN (about 5 minutes) before powering the icub-server up, then after other 5 minutes the icub-server is started correctly and you

[2015-08-06 18:10] ale-git commented on #32
Fixed (there was a misunderstood error).

[2015-08-06 18:10] #32 closed

[2015-08-06 18:14] ale-git opened #47 "iCubGenova04 - electrical problem (in a 2FOC board?)"
Today in the late afternoon there has been smoke coming from the right shoulder electronics (2B0 - 2B1 zone). I've shutdown the robot after that.

[2015-08-07 08:18] AnneLaureM commented on #41
@mbrunettini

Sorry for my late answer, I'm on vacation and the internet connection is not really great. I'll be careful to start the switch and the server. Thank you for checking.
Cheers,

Anne-Laure

[2015-08-10 09:17] julijenv commented on #47
the EMS has been changed but most of the MTB are gone.

[2015-08-10 14:29] julijenv commented on #47
A lot of MTB3 have been burned (or seemed ok bcoz they turned ON but at the end there was no way to talk to them from canLoader). It has been changed 5 boards on the overall of 7 on the right arm. Before reconnected the Right arm , I'll proceed to a test to know if it is the line of MTB boards which are responsible to burned the EMS or the contrary.

[2015-08-10 17:50] julijenv commented on #47
After recabling the entire forearm and the EMS and board in the back, I turn On the motors and try to check the overall behaviour of the repair. EMS ok, but MAIS and MTBs imposssible to detect. After a check it seems that the MAIS is gone, but the thing that I dont know is whether or not it was broken before the repair. A new hypothesis is that the MAIS just burned out and as it is connected via F

[2015-08-11 13:30] Tobias-Fischer opened #48 "iCubLondon01 - Head movements jerky (joint 0+1)"
Hi,
we are experiencing issues with the movements of joint 0 and 1 of our iCub. The issues appeared suddenly, a couple of days ago everything seemed to be fine.
When moving the joints in e.g. `yarpmotorgui`, the movements are sometimes very jerky, especially when the head is facing downwards and has to go back up.
We took a video, the whole body is vibrating when the head is moved: https://www.you

[2015-08-11 17:04] Tobias-Fischer commented on #48
Hi,
in additionally, we realized that we cannot run ARE properly anymore. If we try `home all`, the head just goes crazy. It starts doing huge oscillations, and we have to stop it with the red button.
We tried setting `–imu::mode off` already.

It would be great if you could advice what to do :).

Thanks,
Tobias and @maxime-petit

[2015-08-11 17:15] pattacini commented on #48
The symptom seems similar to #129.
Did you try to update yarp and icub-main on the cluster and pc104 too?

[2015-08-11 17:17] pattacini commented on #48
Well, not that similar if you did use yarpmotorgui, but still...

[2015-08-11 17:21] Tobias-Fischer commented on #48
Hi @pattacini,
`yarp` and `icub-main` are very recent versions on all of our machines. I don't think this is the issue. Should we still try disabling the position direct mode as suggested in https://github.com/robotology/icub-main/issues/129, just to give it a try?

Thanks!
Tobi

[2015-08-11 17:35] vtikha commented on #48
Hi @Tobias-Fischer , yes please try disabling as @pattacini suggested with post #129. We also encountered similar issues as described with the guys in Lisbon and disabling it removed the jerk.
Let us know if this is also the case and we will try to figure this out.

[2015-08-12 11:01] pattacini commented on #48
@Tobias-Fischer if you made use of `yarpmotorgui` it's very likely you did not employ `position-direct`; further, the issue robotology/icub-main#129 is meant to be solved by the latest commits in the repos, so that those fixes should be already available in your system, as you said.
With these premises I don't think the problem might be due to the `position-direct` mode. Nonetheless, an attempt wi

[2015-08-12 12:20] pattacini commented on #48
Stupid question: did you make sure that the binaries you launch are from the latest compilation?

[2015-08-12 15:49] maxime-petit commented on #48
Hi,

Binaries are from the latest compilation yes, and as mentionned earlier
happens with a simple yarpmotorgui. Firmare is build 80

By desactivating the position-direct with the neck with ARE, I was able to
launch it and execute a "go home" and a pointing gesture :). I still have
the "jerky" move, but ARE is not going crazy anymore.

I will try some "look" ARE commands to check further. I have s

[2015-08-12 15:59] pattacini commented on #48
Guys, if the jerk occurs just by playing around with the `yarpmotorgui`, well, stop doing any other test with `ARE`, `iKinGazeCtrl`, `position-direct` related stuff... simply because the latter modules/modes cannot be the cause of the problem.

[2015-08-12 16:00] pattacini commented on #48
Can you instead increase the speed values in the `yarpmotorgui` in order to make the jerk more evident, if possible?

[2015-08-12 16:31] julijenv commented on #47
Everything that has been changed seems now working fine.
2 more things to check
the calibration right hand joint 8 for thumb abduction.
the fingertips from index to pinky finger NOT working

[2015-08-12 19:44] julijenv commented on #41
@pattacini , @AnneLaureM ;
Please feel free to add something if missing @mbrunettini
What has been made on iCubLuon01 here iCubFacility:
pc104 changed
iKart uptodate
check problems with eyes when saccades ON - everything looks alright - a video has been made!!!!
eyes alignment done
recalibration left arm and twicking right arm and head - still need to find out how to add the xls file from my pc to

[2015-08-12 20:10] pattacini commented on #41
@julijenv well done thanks!
... however, concerning the last point: that's very much against the policy :smirk:
Never start up the robot from `$ICUB_ROOT/app/robots/iCubLyon01/`, but always comply with the rules (see https://github.com/robotology/QA/issues/42)!

[2015-08-12 20:15] pattacini commented on #41
It should be just a matter of purging the `.local/share/yarp/robot` directory and cmaking `icub-main`.

@AnneLaureM closing the issue for the meantime; double check the bullet points when you'll receive the robot.

[2015-08-12 20:15] #41 closed

[2015-08-13 11:46] bhigy opened #49 "iCubGenova04 - joint 11 of left hand not working + left wrist needs tightening"
Joint 11 of left hand (index proximal joint) is not moving when using yarpmotorgui.

I also noticed that joint 15 (little and ring fingers) is working with yarpmotorgui but when moved through the actions rendering engine, it stops halfway.

[2015-08-13 15:23] maxime-petit commented on #48
Hi,

I have 2 videos to show the jerkiness of joint 0 and 1 with velocity 5 and 20. I have used yarpmotorgui with robotinterface launch :
- vel 5   : https://youtu.be/xthNcjO6I20
- vel 20 : https://youtu.be/JM2HO9fIjC8

Logs of robotinterface are in attachment
[log_pc104_robotInterface_13-08-15.txt](https://github.com/robotology/icub-support/files/1402/log_pc104_robotInterface_13-08-15.txt)

[2015-08-14 09:31] pattacini commented on #48
Thanks @maxime-petit. The jerk is pretty much visible in both the tests.

@robotology/icub-support-admin @julijenv @super-ste

[2015-08-15 15:25] julijenv commented on #48
Hi icubLondon01 users,
OK we agree that the neck does not move as smooth as it could. From the first assumption that  made you raise this issue: "that everything looked alright few days before" usually it makes us probe to think that something at the level of software went wrong. BUT the 2 last videos you run without any specific software, such as ARE (so just robotInterface - if I catch it correc

[2015-08-16 11:35] pattacini opened #50 "Improve internal documentation/tests for maintenance group"
Write up/update tests and documentation describing what needs to be done on a robot after its maintenance is complete and right before delivering the robot to the lab/customers.

We can benefit from the recently conceived [**`icub-tests`**](https://github.com/robotology/icub-tests) repository for that purpose (and we might want to extend it if necessary).

Tests include and are not limited to:
- g

[2015-08-17 08:04] massimoregoli opened #51 "Left thumb and right index finger issues"
* [ ] Left hand Joint 9 (thumb proximal joint) not working, I suppose the tendon is broken.
* [ ] Right hand index distal joint (12) never goes to the home position, maybe it's a calibration problem.

[2015-08-17 16:36] lornat75 commented on #49
Is this the same as: https://github.com/robotology/icub-support/issues/47#issuecomment-129376746 ?

[2015-08-17 16:37] lornat75 commented on #49
Is this issue the same as: https://github.com/robotology/icub-support/issues/47#issuecomment-129376746

[2015-08-17 16:37] lornat75 commented on #47
Show is going to check these issues?

[2015-08-17 18:40] julijenv commented on #49
no it isn't the same issue: one was raised by @ale-git and referred to 2FOC boards which got burned but in the establishment of the repair I notice some details to be improved which could correlate a part of what is saying @bhigy .

[2015-08-17 18:45] julijenv commented on #47
"Show" means "Whose" I guess, well ASAP we'll return from Woods Hole. Anyway this isssue was still opened because some little details need to be checked but I prefered having another issue opened (#49 in this case) because I have a least a trace of the number of repair which has been done.

[2015-08-18 11:05] bhigy commented on #49
This issue is about the left hand while #47 is about the right one.

[2015-08-19 09:16] francesco-romano opened #52 "Calibration issues at startup"
At the current state the purple robot has (big) issues starting up. In particular I found issues on the calibration phase on the following parts:

- torso (it must start perfectly aligned with the gravity)
- right_leg (the ankle does not move during the calibration phase. I had to manually move the joint to the desired configuration otherwise the `checkMotionDone` timeout occurs)

cc @randaz81

[2015-08-19 11:00] maxime-petit commented on #48
Hi,

I will take a look today at the hardware level, sorry for the delay. I don't think anything happens, it was fine before VVV (when we have fixed the motor in the left elbow arm, involving cable manipulation in the back but not in the head/neck) and has not be used when we were out.

In the log attached previously, there are a lot of messages like this :
`sharedcan [X] have not heard from board

[2015-08-24 13:49] vtikha commented on #49
@julijenv as @bhigy mentioned in this issue, the proximal joint of the left index finger is not working (although the little and ring do work) but I also noticed that the wrist of the left hand is extremely loose and needs tightening.

[2015-08-24 14:17] paloskar opened #53 "iCubGenova03 - Right thumb stuck"
Hello,

The right thumb of the red iCub at IIT is stuck. Could you please take a look at it? We would need it fixed by this Wednesday morning.

Thank you,

Oskar Palinko

[2015-08-24 18:02] jypuigbo commented on #30
After an afternoon of troubleshooting with @pattacini we found that:
* ARE is not the cause of the problem, as we can reproduce the error from ```yarpMotorGui```
* ARE with ```impedance    off``` works fine
* Turning one single joint in ```torque``` or ```compliant``` mode is sufficient to reproduce the problem
* The problem appears more likely with a combination of joints
* The problem depends on

[2015-08-24 19:05] pattacini commented on #30
@jypuigbo tomorrow could you repeat the tests with `damping` multiplied by a coefficient `10`?

[2015-08-25 08:36] #47 closed

[2015-08-25 09:09] julijenv commented on #53
the FC board was about to disconnect and didnt allow the signal from the sensors hall to pass through. Replugging it was enough to save the issue.

[2015-08-25 09:09] #53 closed

[2015-08-25 14:16] maxime-petit commented on #48
Hi,

Sorry for the delay. Here 2 pictures of the neck from 2 views. Let me know if you need another angle.

![imag0088](https://cloud.githubusercontent.com/assets/4256170/9468890/0d3072fa-4b3c-11e5-9fe0-a123cb39f9e6.jpg)
![imag0087](https://cloud.githubusercontent.com/assets/4256170/9468891/0d34ef38-4b3c-11e5-8f0b-15baf9258cc2.jpg)

[2015-08-26 08:23] julijenv commented on #49
left index prox and distal fixed
sledge redone entirely to be able to repair distals index and middle fingers.
wrist cables retense

[2015-08-26 08:23] #49 closed

[2015-08-26 08:43] vtikha commented on #49
thanks @julijenv

[2015-08-26 13:56] jypuigbo commented on #30
I will do that today.

[2015-08-26 18:32] jypuigbo commented on #30
@pattacini Conclusions about these new tests: (considering that increasing the ```damping``` multiplied by 10 resulted in a some threshold around 0.091)
* Increasing the damping slightly reduces the trembling, but it doesn't cancel it (remember that although I changed from ```0.03``` to ```0.3```, the value in ```yarpmotorgui``` was ```0.091```)
* tests with the left arm show that the right arm is

[2015-08-27 07:30] pattacini commented on #30
@jypuigbo thanks a lot for the extensive tests! Therefore we can conclude that `right_arm joint 0` is the one causing trouble.

When you say _accident_, do you mean that scary event when the box containing the robot fell down making humans shudder?

Final comment: I'd expect that if you launch `ARE` with only the `left_arm` enabled and in compliant mode, then you won't see any trembling. Is that r

[2015-08-27 08:01] super-ste commented on #30
Hi Jordi,
good that we finally nailed it down to one joint. Now let's try to understand what's going on.

a. Calibrate the robot and leave it in the home position

b. Take the right arm from the upper arm and try to rock it back and forth (robot is controlled in position therefore it should be stiff.

Is it there any backlash? Backlash is a condition when you can read the movement around joint 0 (

[2015-08-27 12:21] maggia80 commented on #19
FTC boards are installed

[2015-08-27 13:21] massimoregoli commented on #19
With the boards, almost all fingertips seem to work properly, but there are still problems with the one of the right thumb, apparently it sends just random values.

[2015-09-02 08:52] pattacini commented on #37
@lukeboorman news on that?

/cc @super-ste @julijenv @robotology/icub-support-admin

[2015-09-02 08:52] pattacini commented on #36
@lukeboorman news on that?

/cc @super-ste @julijenv @robotology/icub-support-admin

[2015-09-02 08:53] pattacini commented on #36
/cc @maggia80

[2015-09-02 08:53] pattacini commented on #37
/cc @maggia80

[2015-09-02 13:32] alecive opened #54 "iCubGenova01 - issues after MBL summer school"
Here are the issue list for the blackie (I'll update it as if I can find something else):

 * `icub-b2` does not want to start/connect to the network. There is a yellow blinking light and we cannot access them
 * The forearm left skin does not work any more after me and @cciliber opened it for a fix and tried to put it back (with no luck)
 * The proximal joint of the middle finger has its tendon b

[2015-09-02 18:02] #40 closed

[2015-09-02 18:04] pattacini commented on #33
@maggia80 @julijenv
at certain point we'd need to schedule the same upgrade on the right hand.

[2015-09-02 18:06] pattacini commented on #18
@reafrancesco is this fixed?
if so, please close it.

[2015-09-02 18:07] pattacini commented on #54
consider looking also at #46

[2015-09-02 18:09] pattacini commented on #17
ping @rlober

[2015-09-02 18:13] pattacini commented on #16
ping @julijenv

[2015-09-02 21:56] rlober commented on #17
@pattacini

I haven't noticed the behavior since updating but I will confirm this next time I am on the robot. Should be before the middle of next week.

[2015-09-02 21:57] pattacini commented on #17
cool, thanks @rlober

[2015-09-03 13:54] julijenv commented on #16
Hi Edinburgh user of the icub talking head,
AFAI can tell, thre is no way to understand what's going wrong on your jaw motor from the log files sent, please get in contact with us with skype ID : icub-support, and let see what can be done to see whether the motor is dead or not?\
Can the motor spin when direct tension is applied to it? (0-5V max)
Let us know

[2015-09-07 07:59] GiuliaP commented on #54
Also, there is some data stored temporarily on the icub-tesla, to be moved asap. We had to use this machine to store the data collected by the students in their projects. In particular, in home/icub and /home/icub/tmp_giulia. I will move it as soon as I come to the IIT.

[2015-09-07 12:40] bhigy opened #55 "Left hand fingertips"
None of the tactile fingertips of the left hand are working (again)...

[2015-09-07 12:46] vtikha opened #56 "iCubGenova04 torso hardware fault"
The torso (all joints) of the iCubGenova04 goes on hardware fault constantly (when calibrating, while running etc...).

[2015-09-07 17:06] randaz81 commented on #56
AEA probably damaged...

[2015-09-08 11:47] lorejam commented on #23
Hi @julijenv <https://github.com/julijenv>,
we made a number of tests here in Lisbon.

In relation to your previous email:
1) we filed the metal plate and bent the metal pin, and now the wrist can
move with no problem ;)
2) we rewired the abduction correctly
3) we made a number of tests for the Hall sensor of the abduction (it is
the one above the index finger, right? are there any other sensors
m

[2015-09-08 13:23] lorejam commented on #23
Hi @julijenv <https://github.com/julijenv>,
please, disregard my previous email.
Consider this one instead.

We made a number of tests here in Lisbon.

In relation to your previous email:
1) we filed the metal plate and bent the metal pin, and now the wrist can
move with no problem ;)
2) we rewired the abduction correctly
3) we made a number of tests for the Hall sensor of the abduction (it is
the

[2015-09-08 14:40] julijenv commented on #23
Hi @lorejam, @gsaponaro gsaponaro,

`1) the wrist can now move (if it is in idle, and I move it myself), but one
of the motor actuating the wrist is not working (the motor highlighted in
the attached image).`

missing attach :P
 I guess it is joint 6
Did you try to power it ?

`3) we made a number of tests for the Hall sensor of the abduction (it is
the one above the index finger, right? are there

[2015-09-08 15:14] lorejam commented on #23
Ok, thanks @julijenv <https://github.com/julijenv>,

1) so here is the wrist motor that is not working (and yes, I think it is
joint 6, even if the joints are coupled actually...):

I don't know how to directly power the motor... where exactly should I
apply the voltage? On the motor (the case is closed...) or on the board?
​
3) I am talking about fingers abduction and yes, the Hall sensor is the

[2015-09-08 16:54] gsaponaro commented on #23
Regarding the **robotInterface log**, I recently uploaded one here: https://github.com/robotology/icub-support/issues/43 - file is rather large because it's full of skin warnings. However, information about the joints in question should probably be there.

[2015-09-09 11:09] traversaro commented on #52
Situation evolved: now the `right_leg` always starts in idle because the calibration is failing when the robot is launched on the fixed base:
[code]
Furthermore, when the leg control mode is switched again in position, the low level position PID seem to me limited to ~5 Nm of torque (i.e. it is impossible to reach angles of 50/60 degrees with the first axis). Curiously the issue disappears if the

[2015-09-10 09:55] bhigy commented on #19
Has the issue with the pinkie of the left hand been solved? I tried it this morning. Everything was working fine until I pressed the pinkie. It did activate some taxels from other finger tips and from the palm and then nothing was working anymore.

[2015-09-10 13:48] julijenv commented on #23
Hi @gsaponaro and @lorejam ,
From the logfile it is so full of error message coming from the skinboard that it is quite unclear qht's going wrong could you please remove the skin parts from the icub_all.xml file in order to view just the interesting problem with the motor of the hands.
Would it be possible to get in touch via skype in order to explain you how to test the motors?
let me know

[2015-09-10 13:58] gsaponaro commented on #23
Logfile: I cleaned it (with ```grep -v "canBusSkin error code" iCubLisboa01_robotInterface_150729.txt > iCubLisboa01_robotInterface_150729_noskin.txt```) and uploaded it here: https://gist.github.com/gsaponaro/4114da4cfe141e68bf2c

Skype: we'll contact you asap, thanks.

[2015-09-11 15:53] gsaponaro commented on #23
Thanks @julijenv, for now all problem with the right arm are solved! After having swapped the fingers 4DC and the wrist 4DC boards. :)

However, one of the 4DC boards is probably unreliable (the one that was responsible for all the problems in the previous location). If anything bad happens again, we'll try re-flashing the firmware and let you know.

[2015-09-11 15:53] #23 closed

[2015-09-11 16:13] gsaponaro commented on #43
After having solved #23 and having rewired a couple of skin wires, here is a fresh robotInterface log: https://gist.github.com/gsaponaro/9eb6f6b7f854476988d3

The skin problem is solved, the other ones are still there, in particular 2). Any help or suggestion is warmly welcome (please look at the new log).

/cc @robotology/icub-support-admin

[2015-09-15 06:42] maggia80 commented on #19
I did a change in the MTB3 firmware, since there was a bug. You should update the firmware of the board and test if it is ok. @massimoregoli

[2015-09-15 06:43] maggia80 commented on #33
see #19

[2015-09-15 06:44] #33 closed

[2015-09-15 06:44] maggia80 commented on #55
#19

[2015-09-18 08:55] super-ste commented on #30
Hi @jypuigbo
do you have any news on this issue?

Are you guys planning on bringing this robot to IROS? If so we need to identify the root cause of the problem so we can carry the relevant spares.

[2015-09-21 07:56] #56 closed

[2015-09-21 15:06] urielmtz opened #57 "Torso hardware fault"
Hello,

We have an issue with iCub torso, which doesn't start during the calibration process. It seems that the motors are not powered. Also, in the yarpmotorgui the three joints of the torso are in red colour and with the label 'hardware fault'.

Just as a test, I sent some commands to the /icub/torso/rpc:i port, e.g. [set] [pos] 0 20, and I received 'ack' for the commands.

Here is the text for

[2015-09-21 16:29] urielmtz commented on #37
We still have problems if I don’t help the left arm. See log file and picture.

||| configuring
||| no policy found
||| default config file specified as robotInterface.ini
||| checking [/home/icub/robotInterface.ini] (pwd)
||| checking [/home/icub/.config/yarp/robots/iCubSheffield01] (robot YARP_CONFIG_HOME)
||| checking [/home/icub/.local/share/yarp/robots/iCubSheffield01] (robot YARP_DATA_HOME)

[2015-09-21 21:52] lornat75 commented on #56
@julijenv: when closing the issue it would be nice to write down what was the solution (or why you are closing the issue)

[2015-09-22 08:01] reafrancesco opened #58 "segm fault on robotInterface"
@randaz81 here is the last sentence printed out by the robotInterface. @julijenv is helping fixing few problems on the hardware and he is aware there is HW_FAULT but we think this is not the problem.

[ERROR]Unable to set the control mode of a joint ( j:2) in HW_FAULT
[ERROR]Unable to set the control mode of a joint ( j:3) in HW_FAULT
[INFO]Closing Server Inertial...
[INFO]Server Intertial thread

[2015-09-22 08:37] kt10aan commented on #58
I get a similar error each time I quit robotInterface. Everything shuts down fine,  but at the end, instead of quitting, it segfaults. System is Ubuntu 14.04 and the cub software is from June. I am not at work right now, I can give exact version and log tomorrow morning.

[2015-09-22 10:21] massimoregoli commented on #19
The firmware is up to date now, and the fingertips seem to work properly so far. I'll let you know about any issues it may occur

[2015-09-22 11:03] bhigy commented on #19
There is no freeze anymore but we still have weird activations when the pinky is touched. Also, after several trials with the pinky, all the taxels of the hand showed activations and stayed like this.

[2015-09-23 06:33] spada1978 opened #59 "Solving problems from Milano DEMO"
* Proximal Index -- Left Hand
* Proximal Tendon Joint 15 -- Right Hand

[2015-09-23 06:34] spada1978 commented on #59
Solved problems.

[2015-09-23 06:35] #59 closed

[2015-09-23 06:46] pattacini commented on #59
thanks @spada1978

[2015-09-23 07:01] super-ste commented on #54
The robot has been repaired.

I remind everyone that iCub will be packed again on `Friday 25` to go to *IROS*

@GiuliaP grab the data from the Tesla

@julijenv add info here on the maintenance performed

@pattacini @alecive @vtikha
can we thoughtfully test the robot (perhaps with a minimal setup) to verify everything is ok?

[2015-09-23 07:06] vtikha commented on #54
@super-ste thanks, will do all tests today and tomorrow morning, as we also need to verify the state of the robot in preparation for tomorrow's demos `Thursday 24th`.

[2015-09-23 08:07] vtikha commented on #54
@super-ste I have quickly tested the blacky and.
1- At first run the right hand started in hardware fault then after a motor shutdown it seemed ok (still weird)
2- Finger abduction of the right hand is not responding (joint 7)
more later..

[2015-09-23 11:58] spada1978 opened #60 "Manutenzione prove"
left shoulder
wire breakage and replacement number 8 , rewiring cables 1 and 2

[2015-09-23 11:59] #60 closed

[2015-09-23 15:36] super-ste commented on #54
We looked into it and:
1. Started okay.
2. resoldered the cable on the motor
3. :0

Coming back to the skin on the left forearm: checks OK.

@mbrunettini: could you quickly have a look at the issue with the 'icub-b2' ? We're packing for IROS on Friday....

[2015-09-24 08:44] mbrunettini commented on #54
ìcub-b2' seems to be starting correctly now, I tried many reboots and everything went fine.
Probably a temporary network issue with the cable connections.
Please monitor it and in case of another failure, please contact me.

[2015-09-24 09:05] super-ste commented on #54
CLosing the issue as all related task has been sorted out. Please open new issue for future problems that may arise.

[2015-09-24 09:05] #54 closed

[2015-09-24 10:49] Tobias-Fischer opened #61 "iCubLondon01 - Torso fault + smoke"
Hi all,

we have an issue with the torso of our iCub. One day we started up `robotInterface` as usually, when we heard a weird noise and smelled some burned electronics / plastics. We pressed the red button very quickly, and were able to avoid more damage. It happened just before the iCub is usually going to calibrate its parts (nothing moved yet).

We have the log file, were you can see that the

[2015-09-24 11:09] Tobias-Fischer commented on #29
Hi all,
Through some mystery, our fingertips seem to work fine nowadays. I have the feeling that changing the `yarpserver` to run on our desktop machine rather than `ikart` seemed to have improved the detection of touches on the fingertip (for some weird reason, maybe it just randomly works better). Do you think we can close this issue, @martz21?

Best, Tobias

[2015-09-24 11:26] maggia80 commented on #29
I dont think so. However I have recently updated the firmware of the boards reading the fingertip. You should install it thought the canLoadere application. The parameters are cfw002 CAN NET 7 and 8 and the firmware is in the icub-firmware-build git repo, skin.hex

[2015-09-24 12:33] super-ste commented on #18
No more news on this. Closing the issue.

[2015-09-24 12:33] #18 closed

[2015-09-24 12:43] marcoaccame commented on #37
from email of  @urielmtz to me dated 24/09/2015:

[code]

Thus, ... the problem is likely to be independent from the aid we give to the arm.

[2015-09-24 13:18] marcoaccame commented on #37
It seems that: **very likely there is some error on the reading of the AEA** which sometimes shows and some other times it does not.

Looking at the log file:

At time 58s 632m 85u we know that we are inside the control loop because the EMS sends up diagnostics about found CAN boards (the EMS does that as first operation inside the first iteration of the control loop).

Then, see the following log

[2015-09-24 13:44] julijenv commented on #43
Hi @gsaponaro and @lorejam ,
I read your log file, but I am a bit astonished because their a bunch of error that is for sure, but sometimes it is like they arent real because they showed up without e\xplanation followed and looks like they have been deleted. (did you take a log and remove sentences from it???).
Do the robot start correctly and worlks fine?
It doenst matter the warning it is softwa

[2015-09-24 14:34] marcoaccame commented on #57
This issue is similar to #37 but here is **a failure of the AEA in joint 0 of the torso (board EB5)**.

The evidence is the same as in #37:
* the AEA on BOARD 5 has invalid data on joint 0.
* the error from the calibrator in roboInterface happens after the AEA error has been reported.
* the AEA error diagnostics messages are separated exactly by 5 seconds, as seen in the following complete log.

I

[2015-09-24 14:36] julijenv commented on #61
Hi @Tobias-Fischer and @maxime-petit ,
from the picture it looks quite clear that the BLP got burned, the reason, so far, remains unexplained and of course need to be understood before any further change or replace it.
in any case please from now check the flat cable from BLP (the burned one) and the board at the other extremity of the flat cable to see if there are some used part, or for exmaple

[2015-09-24 14:47] hagenlehmann opened #62 "eye lids on blue iCub get stuck"
When trying to run the blinker on the blue iCub, the eye lids are not controllable because they get stuck in different positions on the eye balls. It seems to be a structural problem. It would be important for us to use the eye lids on bluey because we need to test the blinker together with the face recognition / following which is, due to different cameras, only possible on the black and the blue

[2015-09-24 16:10] julijenv commented on #57
Hi Sheffield users,
did the robot got faulted and fell forward which lead to get the AEA wire pinched? (wire can be find following the belly metal plate and running inside of the bottom of the robot?
seee picture
![icub_aea_belly](https://cloud.githubusercontent.com/assets/7140395/10078869/373dc850-62e7-11e5-84c2-85419041a4c2.jpg)

take a look at this specific wire.see if in another case one of th

[2015-09-24 18:42] pattacini commented on #62
This issue would need attention 'cause we have a guest coming to visit us next week, who is going to work with the eye lids too.

[2015-09-25 08:32] hagenlehmann commented on #62
The blinking appears to work great now! Many thanks! We will check it over a longer period of time next week and let you know.

Many thanks again,
Hagen

[2015-09-25 08:32] #62 closed

[2015-09-25 09:51] super-ste commented on #61
The replacement parts are on the way.
Please contact us if you need help in replacing them.

In particular the BLP (the board with the black heat exchanger) is to be attached to the aluminum support with the given tape.

[2015-09-25 11:06] gsaponaro commented on #43
Hi @julijenv.

no, we have not edited the previous logs in this present issue. Just in case, here is a fresh one: https://gist.github.com/gsaponaro/a3401380cc1d8e22a4ca

As you can see we still get the following errors:
[code]

The good news is that since we solved #23 a few days ago, the robot starts correctly and during operation it *usually* works fine, however we do get an occasional motor har

[2015-09-25 11:30] julijenv commented on #43
Hi @gsaponaro ,
ok your are right you have quite a lot of message
" [ERROR]sharedcan [2] board 4 FAULT OVERLOAD AXIS 0 "
could you open the right arm upper cover and check if all the connection are well plugged inside the board 2B3, and especially the FAULT wires and connector (2 by boards).
the other message pop up just on the close sequence phase and doesnt really mean anything is wrong so far.

[2015-09-25 12:58] Tobias-Fischer commented on #61
Great, thanks so much for shipping them over so quickly! We'll get in touch via Skype to replace the parts.

Best, Tobi and @maxime-petit

[2015-09-25 13:44] AnneLaureM opened #63 "Fingers in HW faults"
Hi icub-support !!

Since we received our iCub we were able to start several times successful (good calibration ...).
Two days ago, after starting the robot, we had the joints 8 to 15 in "Hardware-fault" .
![captureyarpmotorgui_2015_09_24](https://cloud.githubusercontent.com/assets/7047323/10101803/2a1c47f0-639b-11e5-8e3e-c6dae692cde5.png)

Until now, we have essentially used the vision (no motor

[2015-09-25 16:21] julijenv commented on #63
After a little check on slkype, it appears that the first FC connector (little boards above the knuckles on the hand got a little misplaced) repuuting it on place (parallel to MAIS board look like it solve the issue.
This issue remains open until no further complaints about it.

[2015-09-25 16:53] gsaponaro commented on #43
Thanks, we checked those wires and connectors, they seemed ok, we reconnected everything just in case.

We then re-ran **robotInterface** a few times, and the message "[ERROR]sharedcan [2] board 4 FAULT OVERLOAD AXIS 0" is still there. In **yarpmotorgui**, all joints in the right arm are operational and I manage to move them.

[2015-09-28 13:19] bhigy opened #64 "Left shoulder tendons keep breaking"
One of the wires in the left shoulder broke, same as what happened a few days ago (#60).

I was using `ARE` when this happened, performing the `EXPECT` command. @pattacini suggested that the cartesian solver, which is supposed to prevent this, is not working properly with the purple iCub.

[2015-09-28 13:21] pattacini commented on #64
Well, what I actually suppose is that there might be some mechanical differences with standard shoulders the solver is unaware of.

[2015-09-28 13:54] bhigy commented on #64
Apparently, this already happened twice at iCub Summer School, while trying to make the red ball demo work on the purple Both time, it was the left arm.

[2015-09-28 14:03] pattacini commented on #64
Both `ARE` and `demoRedBall` make use of the **Cartesian Solver**, which in turn is instructed to find a suitable configuration of the joints that prevent shoulders cables from breaking/snapping out due to their length limits.

If this unwanted event keeps happening it means that the constraints in the solver are somehow not adequate for the left arm :arrow_right: there must be some differences in

[2015-09-28 15:56] Tobias-Fischer commented on #61
Hi @super-ste and @julijenv,
we were able to replace the boards, and iCubLondon01 is running fine again! Thanks a lot :)!

Best,
Tobi and @maxime-petit

[2015-09-28 15:56] #61 closed

[2015-09-28 15:57] Tobias-Fischer commented on #48
Hi, we don't have this issue anymore, possibly it had something to do with https://github.com/robotology/icub-support/issues/61. We will re-open the ticket in case it happens again.

Thanks for your support guys!

[2015-09-28 15:57] #48 closed

[2015-09-28 15:58] Tobias-Fischer commented on #29
Hi @martz21,
we just tested the fingertips again and they are working fine now. Can you please close this issue?

Thanks, Tobi

[2015-09-29 06:56] spada1978 commented on #64
Replaced the cable and the cable 7 1 because they are broken at the crimp.

[2015-09-29 07:08] spada1978 commented on #64
Sorry the cable are 8 and 1

[2015-09-29 07:30] pattacini commented on #64
thanks @spada1978

[2015-09-29 08:44] Tobias-Fischer commented on #46
Hi all,
I'd like to report that we've seen these oscillations on several other robots as well.

1) At the BCBT summer school, we've seen the oscillations on `iCubBarcelona01` when using `IOL`. A video can be found here: https://slack-files.com/T053A59T4-F0B1WACGL-e64d5fbece (sorry, it's quite large)

2) However, the problem does not only occur using `IOL`, but also when the gaze is not even contro

[2015-09-29 11:41] alecive opened #65 "Update the videos folder on the `icub13`"
It would be nice to update the videos folder on the `Blacky`'s display with new videos when we'll be back from IROS. Right now we have old and very low-res videos.

[2015-09-30 07:39] bhigy opened #66 "Right thumb doing weird unexpected movements"
When asking the robot to give an object through ARE, the thumb is sometimes making weird movements. Could be due to the new mechanics in the hand.

@randaz81 I can show you when you have a moment.

[2015-09-30 08:20] urielmtz commented on #57
Hi Julien,

Thanks for the picture. I think that wire seems to be broken, below there is a photo of the robot:

![icubsheffield01_torso_wire_photo](https://cloud.githubusercontent.com/assets/4717988/10187962/db4917a4-6753-11e5-8eae-5bfd506beca5.JPG)

Do you think this could be the problem?
I was thinking to measure continuity but I am not sure which screws we should remove. Is there a procedure we

[2015-09-30 08:24] urielmtz commented on #57
I forgot to mention that the robot also fell forward when there was a failure.

Cheers
Uriel

[2015-09-30 12:17] pattacini commented on #30
Always consider reducing the PID gains when the robot is on the iKart since the voltage supply goes up `53 V`. This reduction aims to prevent oscillations from showing up.

As thumb's rule, multiply all the PID gains (`Kp`,`Ki`,`Kd`) by a factor of approximately `39/53 V` (i.e. we tend to supply the robot with `39 V` when not mounted on the iKart).

[2015-09-30 12:18] pattacini commented on #46
@Tobias-Fischer

Take https://github.com/robotology/icub-support/issues/30#issuecomment-144377458 into account regarding the oscillations when the robot is on the iKart.

/cc @maggia80 @randaz81 @super-ste

[2015-09-30 14:13] bhigy opened #67 "Plastic protection for finger cables broken"
On the left hand, pinky finger, one of the plastic parts that protects the cables on each phalanges is broken and needs to be replaced.
![img_20150930_161246](https://cloud.githubusercontent.com/assets/12236986/10195495/30d7a2aa-678e-11e5-836c-06befe112d9b.jpg)

[2015-09-30 14:36] spada1978 commented on #67
positioned rubber cover electrical wires fingers

[2015-09-30 14:36] #67 closed

[2015-09-30 14:51] bhigy commented on #67
Thanks !

[2015-09-30 14:57] hagenlehmann opened #68 "Torso failure on Bluey"
Blue iCub collapses after calibration frequently because of hardware failure in one of the torso joints.

cheers,
Hagen

[2015-09-30 18:16] pattacini commented on #30
...and so I've heard the rumor that all this mess was due to a badly tuned configuration parameter of `WBD` nobody was aware of: the filter cut-off frequency.

A clear example of how the system complexity can easily f*** us up!
I feel I need somebody to hate all night long.

[2015-10-01 08:57] julijenv commented on #57
Hi @urielmtz ,
From the picture u sent i guess the cable is pretty severe and the simplest way to repair it is to replace it as the pinch mark is a bit further from the edge of the cable. We will send you the replacement part asap. Could u please give us the add on which we have to send u the spare part and a name and phone number of the person in charge of retrieving the part?

[2015-10-01 10:37] urielmtz commented on #57
Hi @julijenv,

Thanks for the fast reply. The person that will receive the cable is James Law and the details for sending the parcel are below.

Dr James Law
Senior Experimental Officer
Sheffield Robotics

The University of Sheffield
Rm B04 Pam Liversidge Building
Sir Frederick Mappin Building
Mappin Street
Sheffield
S1 3JD
UK
Tel. +44 (0)114 222 5690

Please let me know if you need more informati

[2015-10-01 12:42] randaz81 commented on #30
I suspect that other robots may be also affected by the same issue.
The following parameters (contained in `TRQ_PIDS` section) have to be checked on other `CAN` robots.

These are the correct default values for a `CAN` robot:
`<param name="kff">          0         </param>`
`<param name="kbemf">        0     </param>`
`<param name="filterType">   3     </param>`
`<param name="ktau">         0

[2015-10-01 13:41] traversaro commented on #30
@pattacini Just to clarify: the cut-off filter on torque estimates was only added during the summer in `wholeBodyDynamicsTree` in the `codyco-modules` repo, while is not present at all in `wholeBodyDynamics` in the `icub-main`.

[2015-10-01 13:48] pattacini commented on #30
@traversaro I meant actually the one in the `FW` and not in `WBD`.
The _bad_ outcome remains the same.

[2015-10-01 13:49] Tobias-Fischer commented on #30
Hi @ugo and @randaz81,
I've quickly looked into those parameters for our robot (iCubLondon01).
Three issues (least important first):
1) In our config files, all parameters are missing.
2) It seems like all robots which have these parameters in their configuration files do not have the default values set you are referring to
3) Even if those values were set, they would not have any effect as far as

[2015-10-01 13:50] traversaro commented on #30
Ack, I was just a lot confused. :+1:

[2015-10-01 13:55] pattacini commented on #30
@traversaro I'm confused too :unamused:
From the rumor I thought it was in `WBD`, but I was wrong; it's in `FW`.

[2015-10-01 14:47] DanielePucci commented on #30
I have a question. True, disabling the filter seems likely to cause the problem, and this filter must be put back. But, should it be in the ~~~FW~~~? In my opinion, the firmware should only do basic computations for, e.g., torque control, but leave the signals as it receives them. The data processing or filtering should not be in the firmware. I fear that adding filters here and there will be the

[2015-10-01 14:47] randaz81 commented on #30
@Tobias-Fischer
I apologize for generating confusion in my last answer (i'd like to remove the post!). My diagnosis was wrong, and I want to reassure iCubLondon01 users that they configuration parameters seems correct to me.
I'm going check if `filterType = 3` give better performances than `filterType = 0` but for now I can guarantee that default values imposed by the motioncontrol (regardless wha

[2015-10-01 14:50] randaz81 commented on #30
@DanielePucci please forget about the filter. It is off by default. The problem was not due to the filter.

[2015-10-01 14:50] DanielePucci commented on #30
Well, sorry then.

[2015-10-01 14:53] kt10aan commented on #30
i watch the thread with interest as iCubOsaka has the same issue (violent shaking) when using impedance. It's was not urgent for us as we were not using impedance mode the past months, but we will in the next weeks. I do not know if the shaking is for the same reasons as the iCubLondon though.

[2015-10-01 15:08] randaz81 commented on #30
@kt10aan I'm currently checking all the robots one by one. Your icubOsaka01 seems ok to me. I suggest to open a new separated thread to investigate your issue.

[2015-10-01 15:13] kt10aan commented on #30
Thanks! I wil do!

[2015-10-02 08:27] alecive opened #69 "Issues after IROS demo"
* [x] FT sensor on left leg is spiking and needs to be replaced (the one in the SS toolbox is probably not calibrated)
 * [x] Hall sensor, left hand, index, proximal is flaky (i.e. `licchelacche`)
 * [x] Neck harmonic drive (right hand side) gets stuck (o da ingrassare o da cambiare)
 * [x] Fingertip on left hand got broken by hard interaction with a bad robot (reincollare testare funzionalitá)
 *

[2015-10-02 10:10] pattacini commented on #30
To sum up, does anybody know what's the current status for this issue in particular?

[2015-10-02 10:12] pattacini commented on #69
Don't use the robot name in the issue title, we have the labels for that :smirk:

[2015-10-02 10:17] super-ste commented on #69
@pattacini label suck I prefer the name in the title. It's clearer and easier to look.

[2015-10-02 10:19] pattacini commented on #69
That's at least questionable.
With labels you have a much easier way to sort issues by robots.

[2015-10-02 14:20] alecive commented on #69
With titles you have a better way to sort issues by robots **without** resorting to a further step ( ie filtering them by hand).

[2015-10-02 14:26] pattacini commented on #69
Where is the option to sort by *issue title*? To do so, you have to fill in the search field with the robot name.

By contrast, with labels, you just click on the desired robot label and that's all folk.

[2015-10-05 11:59] plinioMoreno opened #70 "Issues when running all the motors on Vizzy"
@randaz81, please have a look to the warnings  at the file [warnings_while_running_ball_tracking.txt](https://github.com/robotology/icub-support/files/7625/warnings_while_running_ball_tracking.txt) and [errors_during_calibration.txt](https://github.com/robotology/icub-support/files/7621/errors_during_calibration.txt), to let me know how to tackle them.

For the rest of the issues, please forward t

[2015-10-05 15:02] spada1978 commented on #69
Repaired proximal thumb right hand and glued fingertip left hand anulare

[2015-10-06 11:47] super-ste commented on #57
Shipping spare today.

Tracking here:

http://www.dhl.com/cgi-bin/tracking.pl?AWB=6288587734

[2015-10-06 12:07] spada1978 commented on #69
Replaced ft sensor s7n 209

[2015-10-07 09:22] spada1978 commented on #69
Neck harmonic drive fatted (right hand side)

[2015-10-07 10:06] spada1978 commented on #69
verified sensor proximal index and middle everything is working properly

[2015-10-07 11:18] ajaz706 opened #71 "Issue with little finger (pinky) right hand, likely broken"
The little finger (pinky) of the red iCub's right hand is not moving on changing joint angle values using yarpmotorgui.

[2015-10-07 11:37] pattacini commented on #68
@hagenlehmann is this issue really fixed? I've seen people still struggling to figure it out.

[2015-10-07 11:53] hagenlehmann commented on #68
After Marco’s intervention we (Frank, Reza and I) have not experienced any further problems last week.
Giulia just told me that she has experienced the error once in the last two days. She talked to Julien and they found a problem with one of the encoders. I was not aware of this, sorry - I will reopen the issue

[2015-10-07 11:54] pattacini commented on #68
:+1: thanks

[2015-10-07 12:53] ChiaraBartolozzi opened #72 "Hardware fault and torque shortfall"
We have been experiencing random hardware fault and torque shortfalls on iCubGenova02.

Either of these issues occur at any time, e.g. during calibration or run-time tests. A control board failure is the worst case, which requires a power cycle and a reboot of the robot interface. -- possibly linked to issue
A torque shortfall can compromise a specific task or eventually the robot stability. For i

[2015-10-07 13:27] hu-yue commented on #72
Hi, can I know if this issue also might affect iCubHeidelberg01 or now you're sure that this is not going to happen?

[2015-10-07 14:04] DanielePucci commented on #72
Hi @hu-yue, we are still investigating the causes of these hardware faults/torque shortfalls. So, no conclusion has been derived yet. We will keep you in the loop.

[2015-10-07 14:18] hu-yue commented on #72
Ok thanks, I'll keep an eye in case something similar happens to our robot.

[2015-10-07 14:31] jypuigbo commented on #30
Both changes, the one due to the difference in voltages when mounted in the iKart proposed by @pattacini  and the ```TRQ_PIDS``` changes proposed by @randaz81 solved the shaking problems in iCubBarcelona01.

Thanks a lot.

[2015-10-07 14:35] pattacini commented on #30
Great! Closing then.

[2015-10-07 14:35] #30 closed

[2015-10-07 15:09] Tobias-Fischer commented on #30
Sorry, but solving it for one robot does not solve it for all robots ;-).

It would be great if this issue stays open until the configuration files for all robots are fixed. Firstly, as I've written above, changes in `TRQ_PIDS` does not change anything right now due to the bug. So I guess the changes of `Kp`, `Ki`, and `Kd` proposed by @pattacini did the trick. Could you please report your new val

[2015-10-07 16:22] julijenv commented on #68
it has been changed once more the sensor of the belly, let's hope that it will solve the issue once for all, or else I guess that you will need to find the root of the issue somewhere else.

[2015-10-07 16:22] pattacini commented on #30
For the sake of filing issues I would rather keep this closed and open a new ticket on the general maintenance of those parameters, if not done yet.

Let's discriminate among headaches! :smirk:

[2015-10-07 16:23] pattacini commented on #30
@Tobias-Fischer would you mind open a new ticket in `icub-main` (citing this as shortcut)?

[2015-10-08 16:20] urielmtz commented on #57
We received the cable today, we replaced it and the torso is working again!

Thanks for the support.

Cheers
Uriel

[2015-10-08 17:04] super-ste commented on #57
YEIIIIIII!!!
Closing the Issue then!!

[2015-10-08 17:04] #57 closed

[2015-10-11 21:18] pattacini commented on #65
`Blacky` is back, @alecive please get one of the latest usb-drive and copy the videos.

[2015-10-11 21:20] pattacini commented on #64
@super-ste do we have any indication that the mechanics is actually different?

[2015-10-11 21:23] pattacini commented on #69
Thanks @spada1978
If you deem this issue complete, please close it.

[2015-10-11 21:26] pattacini commented on #58
Any news on this?

For future posting on software bugs like `seg-faults`, let's try to rely on `yarp`, `icub-main` etc. tracking system rather than here. Actually, `icub-support` is meant pretty much for hardware\mechanics issues with the robots.

[2015-10-12 07:03] spada1978 commented on #69
It was not closed because it lacks the functionality test of the repaired finger tip, but if you feel like I close

[2015-10-12 07:18] super-ste commented on #64
Surely the mechanics is completely different! Being V2 instead of V1.
We never used such a shoulder though so I have no previous experience of this repetitive fault.

On the other hand the two shoulders have been designed to share the same tendons and hardware limits and hand-crimped tendons can fail without a reason (variability in the production).

So I'd keep monitoring the issue a bit longer b

[2015-10-12 07:26] pattacini commented on #64
@super-ste
I wondered whether there is any difference between the two shoulders, 'cause only the left one is having problems. By the way, the solvers are aware that they're working with `v2` mechanics (I've checked the configuration files in the repository).

I'm afraid no other failures have been reported since then simply because I told @bhigy not to use the left arm before further investigation

[2015-10-12 07:29] pattacini commented on #69
Nope, go ahead, I thought all the points of the issues were addressed.

[2015-10-12 07:48] #69 closed

[2015-10-12 11:52] julijenv commented on #71
it has been repaired, the motor went back and strap the pinky cable

[2015-10-12 11:52] #71 closed

[2015-10-12 11:53] #68 closed

[2015-10-12 12:47] ajaz706 commented on #71
Thanks Julien

[2015-10-13 08:48] vtikha opened #73 "Right index finger distal joint broken"
@julijenv During tests for the afternoon demo, we broke the right finger index distal joint.

[2015-10-13 08:49] vtikha commented on #73
@julijenv thanks for fixing it super fast

[2015-10-13 08:59] massimoregoli opened #74 "Encoders not calibrated"
Several encoders on both hands of the purple iCub are not properly calibrated

[2015-10-13 10:16] pattacini opened #75 "Too frequent HW faults on head joints"
Gentlemen,

We have a long-lasting issue on the head of `Bluey`: the joints go in `HW Fault` very frequently, heavily bothering any kind of work with the robot (demos included).

Can we find a suitable time slot to seat around a table and discuss how to carry out **profitable investigations** and sort out this problem once for all?

/cc @vtikha @super-ste @randaz81 @alecive @julijenv @robotology/i

[2015-10-13 12:03] #73 closed

[2015-10-13 13:09] bhigy opened #76 "Hands issues"
I spotted following issues with blue icub hands:
   - [x] Left hand - ring finger: tendon is too tensed and the finger is always folded.
   - [x] Left hand - ring finger: fingertip is not working
   - [ ] Left hand - fingers adduction/abduction : not calibrated properly and the motor is overheating
   - [x] Left hand - thumb finger: tactile fingertip not working
   - [ ] right hand - index: moves

[2015-10-13 14:35] julijenv commented on #74
After a little check on the right hand, it appears that the thumb abduction joint is broken

[2015-10-14 09:31] randaz81 opened #77 "Migration from iCubInterface to RobotInterface"
iCubLugano01 files need to upgraded from .ini format (iCubInterface) to xml format (robotInterface). Robot firmware needs to be updated too. Contact: @marijnfs

[2015-10-14 09:40] francesco-romano opened #78 "Robot setup in view of CoDyCo Year 3 Review meeting @Darmstadt"
This issue clarifies the tasks that the Darmstadt guys must accomplish before our visit to their lab

cc @jeljaik @DanielePucci @robertocalandra

[2015-10-14 09:57] DanielePucci commented on #78
As discussed with Jan, @robertocalandra  and  @AlexandrosParaschos should accomplish  the following tasks before @francesco-romano and @jeljaik leave for Darmstadt:

- [ ] Update the software of: firmware, yarp, icub-main, and codyco-superbuild; the update should be done one week before our visit;
- [ ] Do quantitative tests for kinematics measuring devices: check that all encoders, both on motor

[2015-10-14 11:11] jeljaik opened #79 "Joint 4 of the Right Leg "broke" after today's demo"
`robotInterface` shows an error regarding joint 4 of the right leg. Also, although that's the only joint in hardware fault state, the yaw joint of the leg (joint 2 I believe) starts rotating inwards during the calibration  procedure.

@randaz81 As we were discussing earlier, I just wanted to put my two cents for the `icub-support` repository. First, I think you might wanna add a `CONTRIBUTING.md`

[2015-10-14 11:18] pattacini commented on #79
@jeljaik the `CONTRIBUTING.md` file is a very good idea indeed, thanks! We should adopt it for a number of repositories of our eco-system.

Conversely, I deem the script a bit too much for `icub-support`.

[2015-10-14 11:24] valegagge opened #80 "Play on the jaw joint"
the joint may have play of about 5deg.

[2015-10-14 11:28] valegagge opened #81 "Wheels sliding for the eyelids joint"
if I move the joint with high velocity, it seems that the two wheels slide.

[2015-10-14 11:34] jeljaik commented on #79
:+1: Sure thing. Maybe the script would be best suited for `icub-main` or more software related repos.

[2015-10-14 12:22] bhigy commented on #76
Left hand - ring finger fingertip and left elbow tendon repaired thanks to @julijenv

[2015-10-14 12:40] bhigy opened #82 "Left hand index proximal tendon broken"
As the title says, the index proximal tendon of the left hand just broke.

[2015-10-14 13:24] marijnfs commented on #77
should I be able to simply run the update script as in http://wiki.icub.org/wiki/Firmware?

[2015-10-14 13:33] pattacini commented on #79
Use of `CONTRIBUTING.md` endorsed for [**`icub-support`**](https://github.com/robotology/icub-support) and [**`QA`**](https://github.com/robotology/QA).

Thanks @jeljaik

[2015-10-14 13:50] hu-yue opened #83 "Errors after updating sw and fw"
Hi, I updated all software and firmware for iCubHeidelberg01 and get tons of errors and warnings when launching robotInterface so the robot won't start.
I think there are some parameters missing in the configuration files, however, I don't know which ones are missing from where and if it's just this the problem.
Please find the log here: https://www.dropbox.com/sh/ovzcx28jawt19m7/AACKF2xRFShFQaSvT

[2015-10-14 14:14] hu-yue commented on #83
By cross-checking with iCubGenova02 configuration files I think I've filled in the missing parameters (copy-pasted from Genova02), now the errors regarding missing parameters are gone but the robot cannot start anyways due to other errors and gets stuck on warnings.
The new log is always here: https://www.dropbox.com/sh/ovzcx28jawt19m7/AACKF2xRFShFQaSvTuIhAn7ka?dl=0

[2015-10-14 14:46] bhigy commented on #76
I tried to make rotations with the left forearm and the protruding tendon still touches other parts. This prevents the rotation from being performed smoothly.

[2015-10-14 14:56] pattacini commented on #75
@super-ste we're going to attend **IFI Day 3** on 22 Oct.
Will you be willing to discuss this with us during that session?

[2015-10-14 16:42] johnnass opened #84 "Linking issue: "/usr/bin/ld: cannot find -lportaudio""
Hello,
I am working on iCub head and want to compile an example code similar to one provided in the tutorial (tutorial_arm.cpp).
Then I meet the flowing error in linking...

icub@icubsrv:~/icub-tutorials/motor-control-move-head$ make
[100%] Building CXX object CMakeFiles/move_head.dir/move_head.cpp.o
Linking CXX executable move_head
/usr/bin/ld: cannot find -lportaudio
collect2: ld returned 1 exit

[2015-10-14 17:37] pattacini commented on #84
Hi @johnnass
I've marked this issue as **invalid** since we try to keep track here of maintenance requests for our robots (see our [**guidelines for contributing**](https://github.com/robotology/icub-support/blob/master/CONTRIBUTING.md) to this repository).

Would you mind to open an equivalent ticket into [**`icub-tutorials/issues`**](https://github.com/robotology/icub-tutorials/issues) system in

[2015-10-14 17:39] randaz81 commented on #83
Hi Yue, looking at the log, I noticed that the error code is "wrong protocol". Therefore my first guess is that not all the boards have been updated with the correct firmware. e.g. you may have updated only the ems boards and not the 2foc (or the skin) boards. Since the EMS protocol changed, if the 2foc boards have not been updated too, they will be not able to communicate anymore.

[2015-10-14 20:08] johnnass commented on #84
Hi
Thank you, I will open an equivalent ticket into  icub-tutorials/issues.

[2015-10-14 20:21] pattacini commented on #84
Thanks @johnnass
Closing in favor of https://github.com/robotology/icub-tutorials/issues/1.

[2015-10-14 20:21] #84 closed

[2015-10-15 08:02] DanielePucci opened #85 "Tendons 7 and 8 of left shoulder are not in place"

[2015-10-15 09:22] #85 closed

[2015-10-15 11:06] hu-yue commented on #83
Hi,
Yes yesterday I did not update the CAN fw, today I updated everything (2FOC, strain and skin) and I get calibration errors. The new log is always in here: https://www.dropbox.com/sh/ovzcx28jawt19m7/AACKF2xRFShFQaSvTuIhAn7ka?dl=0

[2015-10-15 11:16] hu-yue commented on #83
Hi,
I updated also the CAN fw (2FOC, strain and skin), the robotInterface can be launched and the calibration is done, but some errors (and warnings) appear in the log.
The new log is here: https://www.dropbox.com/sh/ovzcx28jawt19m7/AACKF2xRFShFQaSvTuIhAn7ka?dl=0

[2015-10-15 13:08] bhigy commented on #76
Thumb tactile fingertip of the left hand repaired.

[2015-10-15 14:22] bhigy commented on #82
Repaired this morning but it broke again this afternoon after only a movements.

[2015-10-15 14:37] marijnfs commented on #77
Hello, what are the most up-to-date documentations regarding these procedures? I can not find a clear new documentation for these new changes.

[2015-10-15 16:24] hu-yue commented on #83
It seems that the remaining error is about packet loss, it happens from time to time that the error
[code]
appears for different boards.

cc @randaz81 @marcoaccame

[2015-10-16 08:27] julijenv commented on #82
repaired again. let see what's going wrong this time, hopefully it isnt due to the grasp or else u will need to find a way to apply less force on the object you take or pay atteention of the hardness of the object seize.

[2015-10-16 08:27] #82 closed

[2015-10-16 12:21] randaz81 commented on #77
Sorry Marijn, upgrading from iCubInterface to RobotInterface is something which cannot be done by a icub user, since it involves the complete reorganization of the robot configuration files. We already started the upgrade process: the old iCubLugano01 folder has been deleted, and the new template has been committed. The new xml files will be written by hand, so it will take few days of additional

[2015-10-18 20:30] marijnfs commented on #77
Ok I see, thank you for the effort! I'll wait eagerly for the files;)

regards,
Marijn

On 16/10/15 14:21, randaz81 wrote:

[2015-10-19 13:47] randaz81 commented on #77
calibration files pushed to the repo

[2015-10-20 02:26] lornat75 commented on #42
What is the status of this issue?

[2015-10-20 02:30] lornat75 commented on #83
We should check if the socket buffer size needs to be tuned or install the RT linux.

[2015-10-20 02:33] lornat75 commented on #79
Can you explain to me the difference between the contribution.md and readme.md?

[2015-10-20 03:37] lornat75 commented on #76
DO we still have the first issue:
tendon is too tensed and the finger is always folded

otherwise we could close this issue?

[2015-10-20 03:37] lornat75 commented on #76
@julijenv

[2015-10-20 03:38] lornat75 commented on #74
Was this fixed?

[2015-10-20 03:41] lornat75 commented on #70
For the CFW02 I think the driver should be compatible, otherwise we can fix the compatibility issues.

@randaz81 maybe you can have a look at the logs?

[2015-10-20 03:42] lornat75 commented on #66
Any update on this?

[2015-10-20 03:42] lornat75 commented on #65
any update on this?

[2015-10-20 03:46] lornat75 commented on #64
Moved to https://github.com/robotology/icub-main/issues/217

[2015-10-20 03:47] lornat75 commented on #63
@marijnfs can we close this issue?

[2015-10-20 03:49] lornat75 commented on #58
Moved to https://github.com/robotology/icub-main/issues/218

[2015-10-20 03:49] #58 closed

[2015-10-20 03:50] lornat75 commented on #19
Any update on this?

[2015-10-20 03:50] lornat75 commented on #55
Moved to https://github.com/robotology/icub-support/issues/19

[2015-10-20 03:50] #55 closed

[2015-10-20 03:51] #51 closed

[2015-10-20 03:52] lornat75 commented on #51
Please re-open if the problem persists.

[2015-10-20 03:53] lornat75 commented on #46
any update on this?

[2015-10-20 03:55] lornat75 commented on #43
@julijenv: can you check this issue? looks like there is still a FAULT problem

[2015-10-20 03:59] lornat75 commented on #25
Any update on this? Can we close it and address in #78?

[2015-10-20 04:00] lornat75 commented on #17
Closing for now.

[2015-10-20 04:00] #17 closed

[2015-10-20 04:01] lornat75 commented on #16
Any update after the skype chat?

[2015-10-20 04:03] lornat75 commented on #14
Closing, remaining issues will be addressed in #78.

Please try to open individual issues and avoid issues with multiple items, it is very difficult to track progress otherwise.

[2015-10-20 04:04] lornat75 commented on #78
Please open individual issues for each problem, itemized multi-issues are difficult to track. Group issues with labels (we can create additional labels) to simplify searching.

[2015-10-20 04:05] lornat75 commented on #13
@randaz81? this issue is very old we need to address and close it!

[2015-10-20 04:06] lornat75 commented on #11
@maggia80 please decide so we can close this issue

[2015-10-20 04:10] lornat75 commented on #9
Closing for lack of feedback, we can re-open it if the problem becomes relevant again.

[2015-10-20 04:10] #9 closed

[2015-10-20 04:12] lornat75 commented on #8
@marcoaccame: can you open individual issues for the upgrade to RT kernel of individual robot so we can close this issue?

[2015-10-20 04:13] lornat75 commented on #3
Issue #33 was closed. Can we close this issue too?

[2015-10-20 04:14] lornat75 commented on #2
@davidetome: was this check done? Can we close the issue?

[2015-10-20 04:15] lornat75 commented on #1
Any update on this issue?

[2015-10-20 07:09] francesco-romano commented on #79
If you have a Contribution.md the link to it will appear when you open an issue:

<img width="772" alt="screen shot 2015-10-20 at 09 09 27" src="https://cloud.githubusercontent.com/assets/2189180/10600328/48ec094a-770a-11e5-83f3-2bdc1a2178ee.png">

[2015-10-20 07:14] pattacini commented on #79
It's a somewhat undocumented feature indeed, quite useful though.

[2015-10-20 07:19] davidetome commented on #2
fixed on 25/3/15. all flags settled false for all robots in repo

[2015-10-20 07:19] #2 closed

[2015-10-20 07:45] bhigy commented on #3
Right hand fingertips were still not working a few days ago.

[2015-10-20 07:53] bhigy commented on #55
This was for the blue icub and #19 is for the purple. But the fingertips of the left hand are working now anyway.

[2015-10-20 08:40] hu-yue commented on #1
I think we can close it for the time being, the problems of this issue have been solved and the new issues of the robot do not really regard this issue anymore.

[2015-10-20 08:40] #1 closed

[2015-10-20 08:41] hu-yue commented on #83
If I'm not wrong RT linux has been installed when the robot was brought back to IIT in May 2015.

[2015-10-20 08:42] pattacini commented on #46
No progress at all.
Blacky's head still goes crazy every once in a while.

@hagenlehmann and @matejhof can provide a more recent report on this, I suspect.

I feel 99.9999999999999% confident to say that it's not an `iKinGazeCtrl` problem.

[2015-10-20 09:48] hu-yue commented on #83
I just checked, this is what is on the pc104 now: 3.2.0-4+icub.1-rt-amd64

[2015-10-20 11:26] maggia80 commented on #11
we can use address 3 for LeftLeg Strain and 4 for RightLeg Strain

http://wiki.icub.org/wiki/Can_addresses_and_associated_firmware#CFW2CAN4:_right_leg_3

[2015-10-20 11:26] #11 closed

[2015-10-20 11:29] maggia80 commented on #42
as far as I know we can close it

[2015-10-20 11:29] #42 closed

[2015-10-20 12:02] massimoregoli commented on #3
I didn't experience this issue anymore, it's probably due to recent firmware updates. I guess we can close it.

[2015-10-20 12:02] #3 closed

[2015-10-20 12:14] massimoregoli commented on #74
the thumb abduction joint is now working properly but the right thumb joints 8 and 10 still have calibration problems

[2015-10-20 12:36] massimoregoli commented on #19
All fingertips seem to work fine now, even the right pinky.

[2015-10-20 12:36] #19 closed

[2015-10-20 13:59] hu-yue opened #86 "Right knee never goes to 0"
Hi,
I've recently noticed that the right knee joint never goes to 0, e.g. the encoder always reads -1.3, if I try to drag the joint to 0 with the motor gui (which home position is set to 0 for knee joint) it jumps back to -1.3.
It is not a gui problem, in the sense that I see about -1.3 also from ``` /icub/right_leg/state:o ```.
What might be the reason? What can I check to solve the problem?
Than

[2015-10-20 14:01] randaz81 commented on #86
if you put the joint in idle, and you manually push it against the hardware limit, what is the encoder reading?

[2015-10-20 14:04] hu-yue commented on #86
The same, I pushed it to the mechanical limit and it's still -1.3

[2015-10-20 14:07] hu-yue commented on #86
Does this mean that the offset in the calibrationDelta is too big or something like that?

[2015-10-20 14:28] hu-yue commented on #86
I changed the value in the calibrationDelta and now it's going to 0.

[2015-10-20 14:28] #86 closed

[2015-10-21 08:11] DanielePucci commented on #78
Ack. However, the above items are not issues, but tasks. So, I think we can keep this issue open to track tasks, and open individual issues for eventual HW or SW problems.

[2015-10-21 14:49] randaz81 commented on #77
New configuration files ok (tested remotely)
There's an issue on joint 10 of the left arm (thumb distal), the joint does not come back. @robotology/icub-support-admin @julijenv can you give a look?

[2015-10-21 16:48] rueckert commented on #25
@julijenv  and @lornat75

thank you for your support again. The wrist issue is still open. Here is a short summary of the situation:
- After tightening the tendons of 2M1 and 2M2 the wrist yaw joint had an offset of about 20 degrees.

- the wrist calibration procedure fails during the boot process. In the motor gui it says hardware fault. CHECK the rightWristProblemStartup.log file in https://www.

[2015-10-22 09:34] robertocalandra commented on #78
Ok then we will just post links to the issues.

Please note: #25 still open

[2015-10-22 13:19] marcoaccame opened #87 "Make sure all ETH robots have the latest icub-live v5"
See issue #8

[2015-10-22 13:21] marcoaccame commented on #8
Created new issue #87 for the upgrade to RT kernel of robots and closed this issue.

[2015-10-22 13:21] #8 closed

[2015-10-22 13:30] marcoaccame commented on #87
The version is written in file /VERSION_PC104 (as from http://wiki.icub.org/wiki/The_Linux_on_the_pc104).

Thus on a terminal one should digit

[code]

and read version

[code]

I have verified that the version is correct (5.0-15.04.14) on iCubGenova02 and iCubGenova04.

It is to be tested on iCubHeidelberg01, iCubDarmstadt01, iCubSheffield01

[2015-10-22 14:00] super-ste commented on #75
Action Points from IFI:

- [ ] Get recent Logs
-  [ ] Check PWM limit in config file (we're piloting this 12V motors with 40V)
- [ ] Check Limit Current on Config File
- [ ] Check mech assy for stiction

[2015-10-22 14:07] marcoaccame commented on #83
Hi Yue, there should be version 5.0-15.04.14
see issue #87 about how to see the correct version.

[2015-10-22 14:08] super-ste commented on #46
Action Plan after IFI meeting:

- [ ] Check mechanical stability of support
![image](https://cloud.githubusercontent.com/assets/8122012/10667307/00b19d56-78d7-11e5-86e5-1f5105fd4085.png)

[2015-10-22 14:11] jeljaik commented on #79
This issue was fixed by @julijenv. Closing.

[2015-10-22 14:11] #79 closed

[2015-10-22 14:11] marcoaccame commented on #87
I am quite sure that both iCubDarmstadt01 and iCubSheffield01 already have the RT icub-live version because of some related redmine issues.

However, I shall ask for verification.

[2015-10-22 14:16] urielmtz opened #88 "ethResources verifyBoardPresence cannot reach BOARD 3"
Hi all,

We updated the firmware in our iCub and we have and eth resources issue. The version of PC104 is 5.0-15.03.31. Please see log file.

||| configuring
||| no policy found
||| default config file specified as robotInterface.ini
||| checking [/home/icub/robotInterface.ini] (pwd)
||| checking [/home/icub/.local/share/yarp/robots/iCubSheffield01/robotInterface.ini] (robot)
||| checking [/usr/lo

[2015-10-22 14:20] hu-yue commented on #87
Just verified on iCubHeidelberg01, the version is
[code]

[2015-10-22 14:20] super-ste commented on #64
We agreed to keep using both arms (suspect fatality in high mortality ratio of tendon 8)

@bhigy, next time you use your swt don't make any difference and keep using the left arm as normal.

[2015-10-22 14:21] hu-yue commented on #83
Just checked and replied on issue #87, any comment/progress about the packet loss error?

[2015-10-22 14:27] marcoaccame commented on #78
About the software update ...
@robertocalandra can you please also verify if you have the latest kernel w/ RT features?
I believe you already have because together with Rueckert Elmar in July we performed an update of the SW which works with RT kernel, but ...

you just need to digit (as explained in #87):

[code]

[2015-10-22 14:30] super-ste commented on #25
Hi @rueckert
the fault could be due to a contact between the palm (it's made of carbon fiber i.e. conductive) and the AEA board undelying (see pic below)

![image](https://cloud.githubusercontent.com/assets/8122012/10667870/f7a0cd56-78d9-11e5-8d1e-84d5972c3c3d.png)

Please remove hte palm and apply a thin layer of insulating material on the palm in the area circled in red.

Normally there should b

[2015-10-22 14:32] marcoaccame commented on #87
@urielmtz tells me that version is  5.0-15.03.31. It has RT features, but latest version is 5.0-15.04.14, thus we may update it.

[2015-10-22 14:55] marcoaccame commented on #88
At first there are some errors on cfw2 which prevent mc device on can to work.

[code]

Then there are some errors due to missing parameters in config files, which cause the mc devices of torso and arms to fail.

See:
[code]

[code]

[code]

After that:
[code]

It can be something related to missing params. Maybe @randaz81  can help.

[2015-10-22 15:15] hu-yue opened #89 "Impossibility of increasing torque saturation threshold above 24"
I tried to increase the torque saturation limit by changing the TorqueMax in ```hardware/mechanicals/part*.xml``` with the following values:
- 50, the saturation warning was again on 24. In this case, the warning appeared several times before the joint went to hw fault.
- 24 (default that was in the file), saturation on 24. In this case, the warning appeared and the joint went immediately on hw fa

[2015-10-22 15:15] hu-yue opened #90 "Weird HW fault"
Hi, there has been a hw fault with the following error:

[code]

[code]

[code]

The error occurred during single foot torque balancing on the left leg.
The joint in hw fault is left hip roll.

cc @DanielePucci @barbalberto

[2015-10-22 15:16] marcoaccame commented on #83
what is the value of ICUB_REALTIME_EXPERIMENTAL in your build?
it should be set to 1 to give correct priorities to the tx and rx threads

[2015-10-22 15:20] rueckert commented on #25
@super-ste
Here are images of the palm and the conductor. The conductor causes the short cut. When tightening the screews, it is pressed into the carbon palm (almost one millimeter deep). We already added 2 layers of plastic tape in July and today to fix that. No success. Such tricks should not be a permanent solution?

https://www.dropbox.com/s/jkths0sy92mpiq4/IMG_3494.JPG?dl=0
https://www.dropbo

[2015-10-22 15:24] marcoaccame commented on #83
asked @apaikan help so that you can run a script which detects OS receive buffer size and other net configurations of the system. see issue #8 to read what it is about.

[2015-10-22 15:27] marcoaccame commented on #90
@ale-git : can you comment?

[2015-10-22 15:41] hu-yue commented on #89
Ok, I think this issue can be close, because now that I can see on which board the saturation is happening and changed the TorqueMax for all the parts, it is taking the new value.
The problem before was that I could not see and due to issue #90 I thought it was always on the left leg.

[2015-10-22 15:41] #89 closed

[2015-10-22 15:43] DanielePucci commented on #89
Thanks @hu-yue! The hypothesis made by @barbalberto was indeed right :+1:

[2015-10-22 15:45] DanielePucci commented on #90
@hu-yue, did you see the problem also on two-feet balancing?

[2015-10-22 15:45] hu-yue commented on #90
I forgot this other error, which comes also before the hw fault:

[code]

[2015-10-22 15:46] hu-yue commented on #90
@DanielePucci no I did not try, I can try now

[2015-10-22 15:47] DanielePucci commented on #90
Yes, thanks :) @hu-yue

[2015-10-22 15:59] hu-yue commented on #90
On two feet it did not happen. I tried my best to push he robot in all directions and the only thing happened is that the torso roll had torque saturation.

[2015-10-22 16:18] hu-yue commented on #83
@marcoaccame ICUB_REALTIME_EXPERIMENTAL was ON on pc104 and OFF on the cluster.
I recompiled on the cluster with ON and for the time being I have not seen the error about packet loss.

[2015-10-22 16:37] hu-yue commented on #83
Ok, the error just re-appeared for boards 6,7,8 and 9, at the same time.
Log if needed: https://www.dropbox.com/sh/ovzcx28jawt19m7/AACKF2xRFShFQaSvTuIhAn7ka?dl=0
@marcoaccame

[2015-10-22 20:29] marcoaccame commented on #83
It is correct to be ON only on pc104 where robotInterface runs

[2015-10-23 07:20] kt10aan opened #91 "Torso fault"
Hi,

We are having troubles with the torso of our iCub. Everything started two weeks ago, when the robot was operational (but not moving much) and then suddenly it kind of "fainted". I.e. It fell forward (across its pitch axis) but not so abruptly like when the red button is pressed, a bit slower.
During reboot, the CAN ID was changed. Fixing that fixed the issue. A week after that, the same thing

[2015-10-23 07:36] super-ste commented on #91
Hi @kt10aan,

@julijenv is OOTO and will be back on Wednesday.
In hte meanwhile can you have a look @ his suggestion here
https://github.com/robotology/icub-support/issues/57#issuecomment-142975228
on how to check whether the cable got pinched?

[2015-10-23 07:37] super-ste commented on #35
@marcoaccame
apaprently this issue has been getting worst and worst. Has anyone on your side had a look at it

see also #91

[2015-10-23 08:32] marcoaccame commented on #35
I have seen an address change in mc4 only once. It is worth let @randaz81 know about that.

[2015-10-23 08:54] hu-yue opened #92 "IMU is horizontal in iCubGui"
This is a problem that we always had but never got solved.
In the iCubGui our IMU is pointing horizontally towards the robot's right.
I've been told several times that this is a visualization bug (that affects only our icub?), but is it possible to fix it?
Thanks!

[2015-10-23 08:57] traversaro commented on #92
I actually investigated it some time ago, and perhaps there is an easy solution. I am now in a meeting, I will post the details later.

[2015-10-23 09:00] ale-git commented on #92
I've written the iCubGui, and if there is a bug it can be fixed, but I didn't understand what happens... can you provide more details, maybe a screenshot?

[2015-10-23 09:19] hu-yue commented on #92
Here are a couple of screenshots of the robot standing on the ground:
![icub_standing](http://orb.iwr.uni-heidelberg.de/ftp/icub_screenshots/icub_gui_standing.png)
![IMU_zoom](http://orb.iwr.uni-heidelberg.de/ftp/icub_screenshots/icub_gui_imu.png)

[2015-10-23 09:34] traversaro commented on #92
@ale-git the `iCubHeidelerg01` has an IMU that has physically a different orientation from the one on usual iCub , when the robot has all the joints set to 0.

[2015-10-23 10:05] traversaro commented on #92
That seem a bug in who is publishing the world-to-base position, namely wholeBodyDynamicsTree .

[2015-10-23 10:06] ale-git commented on #92
Yes I see, the IMU visualization can be fixed in the iCubGui configuration file... I'll take a look as soon as possible.

[2015-10-23 10:30] hu-yue commented on #90
I just tried the balancing on right leg, and also the right hip roll went in hw fault.
These the errors:
[code]
@DanielePucci

[2015-10-23 10:34] DanielePucci commented on #90
Well, waiting for @marcoaccame @ale-git opinions.

[2015-10-23 10:38] DanielePucci commented on #90
@randaz81

[2015-10-23 11:13] hu-yue commented on #92
@traversaro before the world ref frame was l_sole, now I changed it to r_sole, but nothing changed in the gui

[2015-10-23 11:25] traversaro commented on #92
@hu-yue the right foot is apparently a separate issue, see https://github.com/robotology/codyco-modules/issues/141 .

[2015-10-23 12:13] ale-git commented on #90
Maybe the I2T limit is too conservative for this task. I've to discuss a little bit with @randaz81 about this issue, then we'll probably able to increase the I2T limit.

[2015-10-23 12:28] hu-yue commented on #83
Ok. But the problem remains either way. @marcoaccame

[2015-10-23 13:30] DanielePucci commented on #90
So, @ale-git tell us when you are done, so @hu-yue can update the software and check.

[2015-10-26 06:13] ale-git commented on #92
@hu-yue In icub-main\app\iCubGui there is the configuration file skeleton.ini, where the line
INERTIAL -34.0 82.5 0.0 90.0
specifies the D-H configuration of the inertial unit. You should play with the last two parameters (frame rotation) until you have correct IMU representation in the iCubGui. Alternatively, if let me know the IMU configuration in your torso, I can do it for you. Hope this helps

[2015-10-26 09:07] kt10aan commented on #91
Update:
I was trying again today to start the robot, but the same issue was persisting. I took out the "waist" covers, and visually inspected the cable. As far as I could see, the cable was not damaged anywhere severely. However, my view of the cable was limited and I didn't know which plate to remove to get better access to it (I assume one of the back ones?)

However, moving the cables and movin

[2015-10-26 11:45] marcoaccame commented on #83
Hi Yue, I looked at the log files.

I have seen a regular pattern: the runs of sequence number errors are separated by either 0 ms, 10 ms or 20 ms. And they always give 1 UDP frame missing.

I have suspects, but I need more evidence. Would you please do the following?

- use top to see the % of CPU of processes robotInterface and irq/20-eth0. And please report to me (a screenshot is fine).
- if yo

[2015-10-26 12:34] hu-yue commented on #92
@ale-git I was able to adjust the visualization, thanks!

[2015-10-26 12:34] #92 closed

[2015-10-26 13:47] hu-yue commented on #83
@marcoaccame a naive question maybe, but how are requests sent to embObjMotionControl?
In the last log, the errors appeared while the robot was doing nothing (robotInterface was running but we were not performing any task or similar).
I will provide the logs by tomorrow.

[2015-10-27 12:47] marcoaccame opened #93 "push button of motors power is broken"
the push button is broken and the user needs a stylus, a pen or a screwdriver to power motors on/off.
i have taken possess of the broken part so that it does not get lost.

the repair is mildly urgent because @DanielePucci needs the robot for heavy tests before external demo of end november.

[2015-10-27 12:55] DanielePucci commented on #93
Thanks @marcoaccame for noticing the issue. Actually, the power on button is pretty important :D

[2015-10-27 13:34] rueckert commented on #78
Hi,

@marcoaccame our version is 5.0-15.03.31

[2015-10-27 14:14] hu-yue commented on #83
@marcoaccame

- Screenshot for the first point
![top](http://orb.iwr.uni-heidelberg.de/ftp/icub_screenshots/top_robotInterface_no_errors.png)

- For the second point I tried to send commands every 5 ms and no errors occured, only warnings, I increased the time and no errors occured, so I'm not sure about how to tackle this point

- For the third point, this is the screenshot with PC104RXrate = 2,

[2015-10-27 16:23] AnneLaureM commented on #63
Hi all,
I think I have finally identified the cable which most of the time prevents fingers run correctly. This cable is located on the second FC connector and it is desoldered. Do you think it is possible to repeat the missing welding at INSERM? And if so, can you explain us where the cable must be connected?
I have attached two pictures showing the disconnected cable:

![lefthandbrokencable1](ht

[2015-10-28 08:11] valegagge commented on #80
I showed the problem to Marcello who will try to undertand causes of play.

[2015-10-28 12:57] marcoaccame commented on #78
Ok, thanks.

you should update the live key to latest version, which is now 5.0-15.10.26 following instructions in http://wiki.icub.org/wiki/The_Linux_on_the_pc104

[2015-10-28 13:04] marcoaccame commented on #87
@rueckert in issue #78 wrote that the iCubDarmstadt01 robot has the 5.0-15.03.31 version. Can he (or someone else in Darmstadt) update it to the latest version (which today is 5.0-15.10.26) and let me know when done? Thanks.

[2015-10-28 15:32] bhigy opened #94 "Fingers tendons broken"
Left hand - middle finger proximal tendon is broken
Right hand - pinky and little finger is broken too

[2015-10-29 03:14] kt10aan opened #95 "Instructions for replacing left ankle pitch tendon"
I am trying to find the pdf with instructions for replacing a broken tendon for our robot's left ankle pitch joint (j4), but with no success.

The page at http://wiki.icub.org/wiki/Tendons_and_replacement doesn't mention anything about the legs.

[2015-10-29 07:30] spada1978 commented on #94
if you could get your hands in the morning we can repair

[2015-10-29 11:43] julijenv commented on #95
Hi @kt10aan,
please try to get an eye at the other anckle to understand how it gets cabled, it is quite simple!
make the symetry.
if needed just come on skype: ID = icub.support

[2015-10-29 12:36] julijenv commented on #43
Hi @gsaponaro ,
is the robot arm joint are, for at least one, in idle mode after calibration?
There are some messages regarding FAULT ISSUE : ([ERROR]sharedcan [2] board 4 FAULT OVERLOAD AXIS 0) meaning a flaky connection, but you couldnt find it last time I asked u to check inside the upper cover, so as long as the wire still make connection most of the time I guess you will still get this firstt

[2015-10-29 12:38] julijenv commented on #77
Hi @marijnfs ,
please let come on skypewith a webcam and we will try to understand the little issue you have with the joint 10 of the left arm:
our skype ID : icub.support

[2015-10-29 13:01] julijenv commented on #16
There are some problems with the AEA encoders of th jaw and the eyelids, we sent an AEA spare part to them, didnt receive any news from them.
Please @BrutusTT and @KatSol , let us know how goes the Head?

[2015-10-29 13:04] KatSol commented on #16
The jaw motor is still not working properly.
Best regards,
Katrin
Dr. Katrin S. Lohan

Deputy Director of the Robotics Laboratory
Assistant Professor/Lecturer in Computer Science and Robotics

School of Mathematical and Computer Sciences
Heriot-Watt University
Edinburgh
K.Lohan@hw.ac.uk<mailto:K.Lohan@hw.ac.uk>

On 29 Oct 2015, at 13:01, julien <notifications@github.com<mailto:notifications@github

[2015-10-29 14:15] gsaponaro commented on #43
Right. We have been using the robot for long hours these past few days: no issues on any joints of that arm, neither at startup (none of them starts in IDLE) nor during operation.

Closing this issue as you suggested, thanks.

[2015-10-29 14:15] #43 closed

[2015-10-29 15:50] julijenv commented on #16
Hi @KatSol  and @BrutusTT ,
Please give me more details on what's going wrong. Send a logfile, try to indentify where the issue could come from.
I'm everyday behind the skypeId: icub.support just ring me, whenever u can and let's try to solve this out.
best regards,

[2015-10-29 16:14] julijenv commented on #25
@rueckert ,
Plese send me another log file for the calibration failure of the wrist un fortunately the one on the link dropbox mentionned previuously doesnt show any proble with the Hardware fault, I need the entire (from start to ending phase log file).
The pictures of the wrist you ve done doesnt show any sign of problem, plese come on skype and let's ahve a look.
skye ID: icub.support
best reag

[2015-10-29 16:32] bhigy commented on #94
Right hand repaired thanks to @spada1978. Unfortunately I have to say that the fix didn't last long. The same tendon broke again after a few grasps.

I will need the hand for my experiment tomorrow morning so please don't touch it until then.

Thanks !

[2015-10-29 16:33] bhigy commented on #64
I don't think I will do the experiment with the purple again. Should I close this issue?

[2015-10-29 17:27] julijenv commented on #91
Hi @kt10aan ,
Is everything ok now? try to push all the different connector you can see from the left and the right side of the bottom of icub , looks like one got a bit unplugged or something (please do that when the motors ARE OFF),
Let us know,
best regards,

[2015-10-30 07:11] kt10aan commented on #91
Further update: The torso is still mostly fine. One in a while, it will give the same error. Fiddling with the  waist side plastic covers (the two small ones), usually fixes the problem. Could you please post a photo of the connectors to check?

[2015-10-30 10:18] urielmtz opened #96 "Problems in updating linux icub-live 5 on pc104"
Hello,

We tried the .iso image using Debian and we have the output shown in the attached picture. We are following the steps as indicated in the wiki page but I am wondering if we are missing something else?.
Thanks.

![debian_icub_script_error](https://cloud.githubusercontent.com/assets/4717988/10843178/49d5c4b2-7eef-11e5-9e01-6aaacc6efd7e.png)

Kind regards
Uriel

[2015-10-30 10:24] julijenv commented on #25
Hi @rueckert ,  the capacitor unfortunately touch the palm so please add any kind of insulating tape in between the palm and the capacitor ( in your case the insulating tape got burnt above the capacitor).
LEt us know

[2015-10-30 10:56] marcoaccame commented on #96
hi @mbrunettini have you got any idea about what has happened? ;-).

[2015-10-30 10:58] marcoaccame commented on #87
@urielmtz in Sheffield is doing the upgrade to latest icub-live version. see #96.

[2015-10-30 11:04] mbrunettini commented on #96
As described in the [wiki](http://wiki.icub.org/wiki/The_Linux_on_the_pc104#How_to_use_the_icub_iso2usb.sh_script) **you MUST use a device NOT a partition**
In the above picture is clear that A PARTITION (sdb1) has been used.
Moreover, before issuing the command be sure to use the correct device correponing to the USB device you want to write you: if you use the wrong device, you may destroy the f

[2015-10-30 13:05] urielmtz commented on #96
Thanks, I replace sdb1 by sdb and the script created in the usb key the live and persistence partitions. Live partition contains the operating system and the persistence partition contains a persistence.conf file.

I put back the usb key inside the iCub head but pc104 isn't replying to the ping.

Cheers
Uriel

[2015-10-30 13:10] mbrunettini commented on #96
Which address are you trying to ping?

[2015-10-30 13:55] urielmtz commented on #96
I am doing ping 10.0.0.2 and also ping pc104

[2015-10-30 13:58] mbrunettini commented on #96
The first is correct, the second is correct only if you have an entry on the DNS.
You should connect a monitor to the PC104 to see what's wrong.

[2015-10-30 13:58] #96 closed

[2015-10-30 14:32] robertocalandra opened #97 "board skin left leg"
Justa  reminder that the issue with the skin on the left leg mentioned in https://github.com/robotology/icub-support/issues/14 is still open.

[2015-10-30 14:32] rueckert commented on #25
@julijenv

I renewed the isulating tape which did the job. We could boot the icub without HW fault. Thank you.

Now, we can focus on the wrist calibration issue. Here is the link [1] to a log file created 2 minutes ago with yarplogger. The file lists two errors:
793		42,745833		ERROR		Right_Arm_Calibrator : checkGoneToZeroThreshold: joint  5  Timeout while going to zero!
807		43,752119		ERROR		Rig

[2015-11-02 12:51] AnneLaureM commented on #63
Hi all,
Does anyone have an idea so that we can fix this issue ?
Thanks,
Anne

[2015-11-02 13:02] julijenv commented on #63
be on skype todqy and i'll show you where to solder it or in the qworst case scenario i'll put an arrow on where to solder back the wire.
C U Later

[2015-11-02 13:25] apaikan commented on #83
@hu-yue  Would you please do the following checks:

* open a terminal on PC104 and check that the return value of the following command is **8388608**!
[code]
* check the `CMAKE_BUILD_TYPE =` **Release** for the Cmake in the Yarp and iCub build directory!

[2015-11-03 09:41] super-ste commented on #94
@bhigy
Please let us know when we can get the hand for repair.

[2015-11-03 09:46] super-ste commented on #64
Yep. Let's close it.

We will reference this issue if we will encounter this in the future.

[2015-11-03 10:28] julijenv commented on #14
Hi @robertocalandra ,
what kind of test did u perform to understand and deduce that the problem with the skin is due to patch short circuit and not just drop of voltage on can line due to to little or flaky red or black power line wires which cant bring enough current on the line?
Are they all restarting ? or just part of them?
can you remove all the connectors (8 pins) from every MTB (skin) board

[2015-11-03 10:29] julijenv commented on #94
Left hand medium proximal joint restored.

[2015-11-03 10:50] hu-yue commented on #83
@KevinAStein could you try to perform the above tasks and post the answer here? Thanks! (otherwise I will do that tomorrow)

[2015-11-03 11:05] KevinAStein commented on #83
ok, I will have a look on the issue and check what I can do after lunch

On 03.11.2015 11:50, Yue Hu wrote:

[2015-11-03 11:49] KevinAStein commented on #83
I checked and the return value is 8388608.  Both are build with ```CMAKE_BUILD_TYPE =``` Release

[2015-11-03 14:45] spada1978 commented on #94
It was repaired the last joint of the right hand , and replace the cable sheaths of the passage of wiring

[2015-11-03 14:45] #94 closed

[2015-11-04 08:00] mbrunettini commented on #96
Issue resolved by using the icub_iso2usb.sh script with the supported linux distro.

[2015-11-04 08:31] DanielePucci opened #98 "Weight of iCub V3"
This issue is intended for collecting information on the weight of iCub V3.

@Spada1978 @super-ste @Mick3Lozzo @traversaro @iron76 @francesco-romano @fiorisi

[2015-11-04 08:38] DanielePucci commented on #98
Waist components.
![20151103_092348](https://cloud.githubusercontent.com/assets/5045846/10933286/c687fe76-82d7-11e5-90e8-a4c093a2cbbd.jpg)
![20151103_092354](https://cloud.githubusercontent.com/assets/5045846/10933287/c6b38da2-82d7-11e5-975d-ab351e24c141.jpg)
![20151103_092400](https://cloud.githubusercontent.com/assets/5045846/10933288/c6b77dd6-82d7-11e5-9248-8112fe0e3126.jpg)

[2015-11-04 08:39] DanielePucci commented on #98
Upper body.
![20151103_091652](https://cloud.githubusercontent.com/assets/5045846/10933319/eea09198-82d7-11e5-8d51-1d41669badb2.jpg)
![20151103_091719](https://cloud.githubusercontent.com/assets/5045846/10933320/eece5f60-82d7-11e5-9d47-86a8ccbb70d2.jpg)
![20151103_091729](https://cloud.githubusercontent.com/assets/5045846/10933321/eed22b2c-82d7-11e5-8723-c07f0e04d44a.jpg)

[2015-11-04 08:49] mbrunettini commented on #87
Hi @urielmtz, how's going with the iCub PC104 upgrade ( @marcoaccame  )

[2015-11-04 09:21] Tobias-Fischer opened #99 "Mechanical adjustment of eyes needed"
Hi @super-ste and @julijenv,

we found that our eyes are misaligned, i.e. one eye is tilted a little further up than the other. This causes some trouble when using the stereo vision pipeline using the higher resolution of the camera. The misalignment is more than a few pixels, so I guess we need the mechanically adjust it.

Is there any documentation on how to do it around? If not, would it be pos

[2015-11-04 09:31] urielmtz commented on #87
Hi @mbrunettini ,

We have the pc104 upgraded to version 5.0-15-10-26. The problem we have is when we run icub-cluster.py icubsrv is ticked but pc104 isn't and then robotInterface doesn't start.

Cheers
Uriel

[2015-11-04 09:52] marcoaccame commented on #87
hi @urielmtz, can you please open it on another issue? in this way we keep the problems separated and there will be someone more skilled than us on icub-cluster ;-) who will be able to help you.

[2015-11-04 10:01] #52 closed

[2015-11-04 10:08] urielmtz commented on #87
Hi @marcoaccame, good I'll open another issue then.
Thanks.

Cheers
Uriel

[2015-11-04 10:13] DanielePucci commented on #52
Users having a similar issue must be aware that this  workaround must NOT be replicated on other platforms other than iCubGenova02 at the current status. This platform has a specific hardware issue currently being investigated.

@randaz81 @marcoaccame

[2015-11-04 10:18] urielmtz opened #100 "pc104 doesn't start in icub-cluster.py"
Hello,

We updated pc104 to version 5.0-15-10-26 and it replies to the ping, but when we run pc104 with icub-cluster.py its checkbox isn't ticked.

Cheers
Uriel

[2015-11-04 10:35] julijenv commented on #63
Hiu @AnneLaureM , Any news after the resoldering, does it solve the issue?

[2015-11-04 11:45] urielmtz commented on #88
Hello,

We updated pc104 and also the firmware, and we have different errors (see below) when we run the robotInterface.

||| configuring
||| no policy found
||| default config file specified as robotInterface.ini
||| checking [/home/icub/robotInterface.ini] (pwd)
||| checking [/home/icub/.local/share/yarp/robots/iCubSheffield01/robotInterface.ini] (robot)
||| checking [/usr/local/src/robot/icub-m

[2015-11-04 12:09] julijenv commented on #25
Hi @rueckert,
ok here how u gonna proceed,
step1: open the file general.xml and change FALSE onto TRUE for the 2 first lines (skipCalibration and useRawEncoderData).
step2 : TURN ON the motors (or do power recycle if they were already ON
step3 : push the red button (FAULT the robot - it shall not start )
step4 : launch robotInterface (from a pc104 window shell - you will be able to see what is goi

[2015-11-04 12:28] julijenv commented on #91
Hi @kt10aan ,
please remove the 2 plastic side cover and make some pictures to understand where you may have touched and advised you on what to check to d not have this problem again.
let us knlow

[2015-11-04 12:28] julijenv commented on #95
Hi @kt10aan ,
Did you succeed to replace the tendon?

[2015-11-04 12:31] julijenv commented on #97
Hi @robertocalandra ,
please check  my reply on the first issue #7  an close this issue or respond onto it until we fix the robot.

[2015-11-04 12:46] julijenv commented on #99
Hi all- iCubLondon01 users ( @Tobias-Fischer , @maxime-petit , @martz21 , @hjchang )
I'll be on skype to give you an han.  Is it a recent problem or a brand new one, I mean since when you hace tis issue with theyes? what is alright at the beginning and by the use of it you got this offset, or you just for the first time use the stereo vision and realize there was a misalignemnt?
Let me know

[2015-11-04 13:21] Tobias-Fischer commented on #99
Hi @julijenv,
Thanks for getting in touch with us so quickly. Just to keep this issue up-to-date: The misalignment is 20px. We have had the misalignment for while now, but it just recently started giving us issues. Foreseeing the integration meeting, we would like to have the robot working perfectly, and this is the only remaining issue which needs to be tackled.

Thanks,
Tobi

[2015-11-04 13:33] rueckert commented on #25
@julijenv
Hi,

we followed your instructions and here are the raw encoder values.
joint 5: 1907
joint 6: -2850

[2015-11-04 13:53] marcoaccame opened #101 "skin patch of left forearm does not work"
as per title.

the gui shows a part of the left forearm working and another part not working. all other patches are working fine.

[2015-11-04 14:15] marcoaccame opened #102 "error in opening driver <xsensmtx>"
Since yesterday, I have experienced quite often (3 times out of about 20 launches of robotInterface) that robotInterface cannot be launched because of error in opening the driver <xsensmtx>.

I powered off and then on the motors before launching robotInterface. I am however quite sure that I have waited a long enough time (all boards could bootstrap and exit the bootloader phase).

All times I lau

[2015-11-04 14:42] EliseiFrederic opened #103 "Software update for iCubGrenoble01"
Dear IIT support,

We stopped updating the robot and repository during a few months, while 3 students were working
daily with our iCub for their internship. I tried to update our iCub contrib in July, but it prooved unsuccesful and I had to step back.

Would any of you be available to update the repositories, file structures, etc for yarp and iCub related software on our iCub laptop ?

Thanks in a

[2015-11-04 15:02] Tobias-Fischer commented on #99
Here are the requested images of the eyes. The first image shows both eyes, the second one the right eye, and the last one the left eye of the iCub.

![img_20151104_145657](https://cloud.githubusercontent.com/assets/5497832/10941797/ee9950ea-8304-11e5-8797-11abc5ea2611.jpg)
![img_20151104_145714](https://cloud.githubusercontent.com/assets/5497832/10941799/ee9a49be-8304-11e5-9626-a700db078fba.jpg)

[2015-11-04 15:11] Tobias-Fischer commented on #99
Some more images with a ruler.

![img_20151104_150920](https://cloud.githubusercontent.com/assets/5497832/10942072/46d2883e-8306-11e5-8d1c-4189d7fa12b7.jpg)
![img_20151104_150944](https://cloud.githubusercontent.com/assets/5497832/10942075/46e956e0-8306-11e5-8ef5-f669015cf1bb.jpg)
![img_20151104_150950](https://cloud.githubusercontent.com/assets/5497832/10942074/46e8d65c-8306-11e5-90a6-33d14e00f37

[2015-11-04 15:34] barbalberto commented on #102
xsensormtx is the IMU device, it is a USB device plugged into the pc104 so it is not affected by motor power off/on. Maybbe the usb connector is not well plugged in

[2015-11-04 16:27] AnneLaureM commented on #63
Hi !!

Finally, we have resoldered two black cables.
The first cable from the second card to the first card. And the second cable from the fourth card to the fifth card.
After starting the robot, we get some errors (see attached log files). We have started and stopped robotInterface three times:
[logRobotInterface_04_11_15-1631.txt](https://github.com/robotology/icub-support/files/27228/logRobotIn

[2015-11-04 18:26] marcoaccame commented on #102
thank you @barbalberto, I reported that just because I wanted to give as much information as possible.

Anyway, situation is getting worse and worse. Now it happens about 1 launch of robotInterface every 4, without powering off/on.

Thus, an intervention is urgently required as @DanielePucci wants to use heavily the robot.

[2015-11-04 21:34] marcoaccame commented on #88
There is the same error as I wrote in my previous comment: param RotorMax is missing.

[2015-11-05 08:24] barbalberto commented on #100
Can you please login into pc104 through ssh and check the hostname of the pc104?

[2015-11-05 09:45] marcoaccame opened #104 "Upgrading robot iCubSheffield01 to icub-main version 1.2.17"
The migration from icub-version 1.2.16 to 1.2.17 introduced on 10 sept 2015 for the ETH robots requires some assistance from @randaz81 for careful verification of new parameters.

The robot iCubSheffield01 still needs to be upgraded.

Dear @urielmtz: details will follow on how to deal with that.

Also consider that the problems in issue #88 are about new parameters introduces in this new icub-main

[2015-11-05 09:49] marcoaccame commented on #88
Dear @urielmtz, the parameter RotorMax is a param introduced in icub-main version 1.2.17.

This param is missing in some files, thus robotInterface does not complete. That is the reason of the failure. All other ERROR prints are caused by that.

I would rather close this issue and continue discussion in issue #104.

[2015-11-05 09:49] #88 closed

[2015-11-05 10:01] marcoaccame commented on #104
The upgrade to this version requires careful steps, because **POSSIBLY WRONGLY TUNED / INCORRECT VALUES OF NEW PARAMETERS IN THE XML FILES MAY CAUSE DAMAGE TO THE ROBOT**.

For this reason we have done the upgrade of other ETH robots using remote presence of an expert, a fixed camera on the robot to see its reactions and in initial steps the **FAULT BUTTON PRESSED DOWN**.

In order to do the updat

[2015-11-05 10:02] Tobias-Fischer commented on #99
Hi @julijenv, thanks again for your help yesterday. The alignment now is much better, thanks a lot. If we run into trouble again, we'll let you know, but I think the couple of pixels misalignment still left shouldn't be a big deal.

Thanks,
Tobi and @maxime-petit

[2015-11-05 10:02] #99 closed

[2015-11-05 10:19] pattacini commented on #75
Any news on this?
Yesterday I saw again `HW` occurring on `Bluey` and on _another robot_ too.

[2015-11-05 10:35] urielmtz commented on #104
Thanks for the details.

Could we go for option 2 and arrange with @randaz81 a remote upgrade?
Thanks.

Cheers
Uriel

[2015-11-05 10:57] super-ste commented on #75
Who can perform the checks stated above?
@randaz81 any Idea?
@julijenv can you and/or @spada1978 check for mechanical stiction (and maybe grease a bit) the HDs on the neck?

[2015-11-05 10:59] pattacini commented on #75
I'd give priority to the _"math"_ required for reducing the PWM limit, apply them and then perform checks.

[2015-11-05 13:59] julijenv commented on #75
It has been changed the PWM limit from 800 to 480 in the file .local/shareyarp/robots/iCubGenova04/hardware/mechanical/head-cfw2_can0-mec.xml
Let's see if it solves this sooooo long pending issue with the neck. If yes, we will add this change on the repository and github and other robots with V2 head..

[2015-11-05 14:01] pattacini commented on #75
Thanks @julijenv :+1:

[2015-11-05 17:32] AnneLaureM commented on #63
Hi !

We have resoldering several cables, the purple one on the second board and the black cable (on the board 4 and 5)...
After restarting the robot, I get these logs:
[robotInterface_logs_05_11_15_1911.txt](https://github.com/robotology/icub-support/files/28262/robotInterface_logs_05_11_15_1911.txt)
with this picture of yarpmotorgui:
![yarpmotorgui_05_11_2015_1913](https://cloud.githubuserconten

[2015-11-06 10:37] julijenv commented on #46
has been changed, let's see if it brings improvments

[2015-11-06 10:52] DanielePucci commented on #78
Two weeks to go, tasks 2 and 3 shall be considered of highest importance.

[2015-11-06 11:25] julijenv commented on #25
Hi @rueckert ,
Please undo all the changes you made for trying to get the wrist bask on place by changing the Delta.
First we will make a change in your local repository in order to see if the changes we gonna make are effective, if yes you will have to apply them in the iCubDamrstadt01 repository inside the icub-main github repository.
So please change in the files:
.local/share/yarp/robots/iCubD

[2015-11-06 13:04] urielmtz commented on #100
The hostname in /etc/hostname is pc104, is this ok?

Cheers
Uriel

On Thu, Nov 5, 2015 at 8:24 AM, Alberto Cardellino <notifications@github.com

--
*Uriel Martinez-Hernandez*
Research Associate
Sheffield Robotics and the Department of Psychology
The University of Sheffield
Mappin Street, Sheffield, S1 3JD, United Kingdom

*Contact*
Mobile phone: (+44) 7 58 20 32 522

*Personal web page*
http://uri

[2015-11-06 17:52] DanielePucci opened #105 "Neck tendons out of place"
Fixes are required.

@francesco-romano @massimoregoli @friends

[2015-11-06 19:17] traversaro commented on #105
Friends?

[2015-11-09 13:48] julijenv commented on #105
everything alright nothing broken just cable loose and got out of place.

[2015-11-09 13:48] #105 closed

[2015-11-11 13:16] francesco-romano commented on #78
Any news?

[2015-11-11 15:49] jeljaik opened #106 "Constant error messages when launching robotInterface"
The following error messages appear constantly when launching `robotInterface`

[code]
Even if I comment out the following lines from `icub_all.xml`

[code]

and

[code]

The skin is not present at the moment

[2015-11-11 16:03] jeljaik commented on #106
Was missing a couple lines.

[2015-11-11 16:03] #106 closed

[2015-11-11 16:14] jeljaik opened #107 "FT left leg sensor issues (broken?)"
There are problems with the left leg FT sensor. Two axes return zero constantly as can be seen in the following graph (top left corner). @julijenv has already checked this personally.

![screenshot from 2015-11-11 17 08 19](https://cloud.githubusercontent.com/assets/5030039/11095874/5e885f3a-8897-11e5-84ef-c90105e588e3.png)

[2015-11-11 16:38] serena-ivaldi opened #108 "Problem in robotInterface after firmware update (git pull)"
Hi, I am with @robertocalandra and Alex Paraschos, we are trying to update the iCub firmware in iCubDarmstadt01. After updating with ethLoader, we have version 2 build 15 on all boards. Launching the robotInterface now gives a lot of errors that we do not know. Here the log of the robotInterface:

[code]

[2015-11-11 17:34] robertocalandra commented on #97
I assume that you refer to issue #14, since issue #7 is head calibration of iCubParis01

[2015-11-11 17:36] robertocalandra commented on #14
Hi @julijenv,
I did not performed any test myself and I wouldn't know how to answer your questions. @randaz81 discovered the issue. Perhaps he can answer.
If necessary I can perform additional tests with your guidance.

[2015-11-11 17:39] robertocalandra commented on #78
Kernel updated to 5.0-15.11.02. However, after updating also the firmware and the repositories, the robotInterface fail during initialization as detailed in #108

[2015-11-11 17:49] francesco-romano commented on #108
I think your robot configuration is not updated.

Check what @randaz81 did here: https://github.com/robotology/icub-main/commit/27c8513227d13bbf54408cff512b9957de7f7b50

[2015-11-11 21:19] randaz81 commented on #108
Additionally, you should check the firmware of the 2FOC boards. They probably  need to be updated as well (verifyBoardsPresence fails). And icub-firmware-shared as well!

[2015-11-11 21:22] randaz81 commented on #103
Hi Frederic, please contact me on Skype so we can schedule the update

[2015-11-11 21:35] randaz81 commented on #108
icub-main has been just updated with new configuration parameters for your robot

[2015-11-12 07:38] robertocalandra commented on #108
@francesco-romano what does it means robot configuration?

yesterday we updated:
-icub-firmware-shared
-icub-firmware
-yarp
-icub-main

@randaz81 ok, we will update again icub-main. What is the procedure to update the firmware of the 2FOC boards?

[2015-11-12 07:43] francesco-romano commented on #108
@robertocalandra I meant what @randaz81 has just done :smile:

[2015-11-12 10:15] marcoaccame commented on #108
Hi @robertocalandra,

I will help you to upgrade the FW of CAN boards on an ETH robot.

here are the steps. later on we shall add a dedicated issue on github so that everybody can refer to it.

1. Power motors ON.
2. Launch `ethLoader` and send a *Discovery*. You repeat the command until you can see the ETH boards in updater mode. You can close `ethLoader` now.
3. Now you launch `canLoader`. In th

[2015-11-12 10:17] robertocalandra commented on #108
thanks, I will now proceed with the updating.
Where do we find the binaries to upload?

[2015-11-12 10:26] marcoaccame commented on #108
For upgrading to icub-main version 1.2.17 it is enough to update the FW of the EMS boards (ems.hex) and of the 2FOC boards (2FOC.hex), which can be found in icub-firmware-build.

I would however recommend also updating FW of MTB boards (skin.hex).

Moreover, **VERY IMPORTANT THING**: after the full SW and FW update **DO NOT run robotInterface straight away unless with the EXTERNAL FAULT pressed**.

[2015-11-12 10:32] marcoaccame commented on #108
@robertocalandra: you need to be sure to have pulled latest icub-firmware-build repository. from your previous post it seems that you forgot to do this.

[2015-11-12 10:32] serena-ivaldi commented on #108
I am downstairs trying to follow the procedure. And will keep you updated.

<critical mode on>
May I say that following github issues is really _not_ practical, and it was way better when there was a simple manual on the wiki?
Maybe in IIT you like being evaluated on the number of issues created/solved, but this simply reveals the need of a proper manual to follow. This procedure of referring to o

[2015-11-12 10:33] serena-ivaldi commented on #108
@marcoaccame I just git pulled all the folders, and icub-firmware-build was properly pulled yesterday.

[2015-11-12 10:50] serena-ivaldi commented on #108
@marcoaccame
I just git pulled yarp, icub-main, icub-firmwars-shared, icub-firmware-build.
I recompiled yarp and icub-main on the pc104, using the build-pc104.
Everything seems to work... only that if I launch ethLoader on the pc104 now it cannot find find yarp libraries. yarp is working though, and other programs are working.
See below

icub@pc104:~$ ethLoader
ethLoader: error while loading share

[2015-11-12 10:59] randaz81 commented on #108
ethLoader was not built correctly.
1) check that you are not using old executables with new libraries (`which ethLoader` ecc)
2) maybe yarp/icub-main was built with old cmake options? Keep a backup copy of your build folders and start cmake in a new folder, with a clean cache.

[2015-11-12 11:02] serena-ivaldi commented on #108
I re-did it in the meantime, now the error is:
icub@pc104:~$ ethLoader
ethLoader: error while loading shared libraries: libethLoaderLib.so: cannot open shared object file: No such file or directory

[2015-11-12 11:07] serena-ivaldi commented on #108
I have an idea: can you confirm that on the pc104 you do not have to do make install? maybe this is the problem.
I checked in their bashrc they have

export PATH=$PATH:$ICUB_DIR/bin:$YARP_DIR/bin

but there ethLoader is in

icub@pc104:~$ which ethLoader
/usr/local/bin/ethLoader

It's an old file and my recompiling doesn't overwrite it because there have been no changes since then. Could it be that

[2015-11-12 11:08] randaz81 commented on #108
It is that. Do make install to replace the wrong old executable with the new one.

[2015-11-12 11:23] lornat75 commented on #108
Actually if the PATH points to $YARP_DIR/bin do not do install.

Do:

sudo make uninstall

Double check that the yarp+icub executables are not in /usr/local/bin

then do simply:

make

[2015-11-12 12:11] lornat75 commented on #108
@serena-ivaldi: about your complain. We use github issues so that we can better track people's requests. It may not be optimal but it is much better than using emails (issues are public and can be useful to others, they are indexed by google, you can reference other issues, you can add people to the conversation and you can search using keyworkds, labels etc..).

Issues do no substitute procedures

[2015-11-12 12:13] serena-ivaldi commented on #108
@lornat75 Thanks :) I think it definitely needs to be in the manual!!

[2015-11-12 12:14] lornat75 commented on #108
@marcoaccame, @randaz81 Can you have a look and update this page: http://wiki.icub.org/wiki/Firmware

[2015-11-12 12:18] serena-ivaldi commented on #108
@lornat75 @randaz81
the uninstall worked! now i can launch ethLoader.
i will try to follow the firmware update instructions of @marcoaccame

[2015-11-12 12:23] serena-ivaldi commented on #108
@marcoaccame I launched ethLoader and clicked discovery. how do I know when the boards are in updater mode? there is apparently nothing changing.
I can see 11 boards with IPs 10.0.1.1-11, vers 2 build 17.
![screenshot from 2015-11-12 13 19 58](https://cloud.githubusercontent.com/assets/3786602/11118226/92d1ddb2-8940-11e5-8307-27062081ee4f.png)

[2015-11-12 12:32] robertocalandra commented on #108
if you see 2.17 they are in update mode.

On Thu, Nov 12, 2015 at 1:23 PM, Serena Ivaldi <notifications@github.com>
wrote:

[2015-11-12 12:34] serena-ivaldi commented on #108
@marcoaccame Sorry for bothering but it's the first time I do this update and I am afraid of making mistakes!

I tried updating the firmware starting from the 1st board.
IP 10.0.1.1 + EMS + CAN 1
there are 4 boards 2FOC, saying release 1, version 3D, build 0
I selected all the 4 boards, and updated file 2FOC.hex
now I can see 4boards 2FOC, saying release 3, version 0, build 0

Is that right?
What

[2015-11-12 12:40] marcoaccame commented on #108
maybe we should open a dedicated issue on github ;-).

[2015-11-12 12:40] marcoaccame commented on #108
just kidding.

[2015-11-12 12:40] serena-ivaldi commented on #108
i am not laughing

[2015-11-12 12:41] serena-ivaldi commented on #108
@marcoaccame just to check, i am now on 10.0.1.2 and I can see 4 boards:
- MAIS
- RM 4DC

Is the mais supposed to be updated with skin.hex?
What about the other RM 4DC boards?

[2015-11-12 12:43] marcoaccame commented on #108
wait a minute.

[2015-11-12 12:45] marcoaccame commented on #108
first thing: the 2FOC.

it is correct that you have fw version 3.0.0, as you can read from the git log of 2FOC.hex

[2015-11-12 12:51] serena-ivaldi commented on #108
ok i am flashing the 2FOC also in the other IPs.

what about the other boards?
i can see MAIS, strain, RM...

also should i do can1 and can2? what is the difference?

[2015-11-12 12:51] marcoaccame commented on #108
then: i have already written that it is necessary to update the 2FOC only.

Possibly also the skin boards.

the 2FOC boards are always on CAN1 bus on addresses: 10.0.1.[3, 5, 6, 7, 8, 9]

the skin boards are on CAN2 of addresses 10.0.1.[2, 4] and on CAN1 / CAN2 of 10.0.1.[10, 11].

[2015-11-12 12:55] serena-ivaldi commented on #108
yes but what is possibly? of course it is possible, i am updating. so i will do it.

what is the name of the boards for the skin? I remember MAIS.
Are strain and RM also connected to the skin?

[2015-11-12 13:06] serena-ivaldi commented on #108
we just flashed the skin boards on 10.0.1.2, CAN2.
The canLoader was saying Release 2, vers 10, build 17.
But the debug information was saying that it discivered version 2.16.17
--> i think there is a bug somewhere

Anyway, we uploaded the skin.hex new version (git says 2.17.0)
Again, the canLoader shows release 2, version 11, build 0.
However the debug information says it successfully uploaded ve

[2015-11-12 13:09] marcoaccame commented on #108
I suggest that you to update all 2FOC first. That is the minimum you need to have the system ready for the new version of icub-main.

Then, if you have time you can also update the skin boards. They have new features that you can read in the log of skin.hex. The name of skin boards is not MAIS. It is skin. You can see them in 10.0.1.[2, 4] CAN2

All other boards (MC4, STRAIN, MAIS) dont need to be

[2015-11-12 13:11] marcoaccame commented on #108
The canLoader uses hex notation, the debug information decimal.

[2015-11-12 13:16] serena-ivaldi commented on #108
We have updated everything (2FOC first then the SKIN).

However we have a problem with the boards 10.0.1.11 and 10.0.1.10.
They do not answer to canLoader (Communication Error, No answer received - no boards found), both with CAN1 and CAN2.

Since iCubDarmstadt is now currently without the upper cover of the left leg, so this could be related. However it is 2 IPs and 2 CAN bus... is that the probl

[2015-11-12 13:22] marcoaccame commented on #108
board 10.0.1.10 is on left leg. it has attached two patches of skin. one on can1 and one on can2.

board 10.0.1.11 is the same but for right leg.

if the canLoader gets such an error it typically means that there are not CAN boards attached, or a wire is broken.

[2015-11-12 13:24] serena-ivaldi commented on #108
I found a document about the placement of the boards here:
http://wiki.icub.org/wiki/Electrical_wiring#Logic_and_Harness_iCub_2.5-_ETHERNET_based

It seems the board 10.0.1.11 is in the right leg, while 10.0.1.10 is in left leg.

So we can say it is normal for the left leg (no upper cover of the skin right now) but there is a problem in the right leg. How can we debug if there is a broken cable on